[submodule "ext/django-bootstrap-form"]
	path = ext/django-bootstrap-form
	url = https://github.com/JoshData/django-bootstrap-form
[submodule "ext/django-email-confirm-la"]
	path = ext/django-email-confirm-la
	url = https://github.com/if-then-fund/django-email-confirm-la-itf
[submodule "ext/twostream"]
	path = ext/twostream
	url = https://github.com/govtrack/twostream
[submodule "ext/django-html-emailer"]
	path = ext/django-html-emailer
	url = https://github.com/if-then-fund/django-html-emailer
[submodule "ext/django-betteruser"]
	path = ext/django-betteruser
	url = https://github.com/if-then-fund/django-betteruser
[submodule "lib/itf_vendor_static_resources"]
	path = lib/itf_vendor_static_resources
	url = https://github.com/if-then-fund/itf-vendor-static-resources
[submodule "ext/django-good-settings"]
	path = ext/django-good-settings
	url = https://github.com/if-then-fund/django-good-settings
[submodule "ext/django-database-storage"]
	path = ext/django-database-storage
	url = https://github.com/if-then-fund/django-database-storage
[submodule "branding/279forchange.us"]
	path = branding/279forchange.us
	url = https://github.com/if-then-fund/279forchange.us-branding
