[submodule "ext/django-bootstrap-form"]
	path = ext/django-bootstrap-form
	url = https://github.com/JoshData/django-bootstrap-form
[submodule "ext/django-email-confirm-la"]
	path = ext/django-email-confirm-la
	url = https://github.com/JoshData/django-email-confirm-la
[submodule "ext/twostream"]
	path = ext/twostream
	url = https://github.com/govtrack/twostream
