{% load itfsite_utils %}

{% if not pledge.user %}
<div class="alert alert-warning">
	We sent an email to {{pledge.email}}. You must click the link in the email to confirm your email address before this contribution can be scheduled.
</div>
{% endif %}

<p>You have made/scheduled a campaign contribution for this {{trigger.strings.action}}:</p>

<table class="table">
	<tr><td>Amount:</td> <td>${{pledge.amount|floatformat:2}}</td></tr>

	{% if pledge.status|stringformat:'s' == 'PledgeStatus.Open' %}
	<tr><td>Status:</td> <td>The {{trigger.strings.action}} has not yet occurred. The contribution will only be made once it occurs.</td></tr>
	{% endif %}
	{% if pledge.status|stringformat:'s' == 'PledgeStatus.Vacated' %}
	<tr><td>Status:</td> <td>The event that this contribution was pledged for is not expected to occur. The pledge is cancelled.</td></tr>
	{% endif %}

	<tr><td>For:</td> <td>{{pledge.targets_summary}}</td></tr>
	<tr><td>Pledged:</td> <td>{{pledge.created|date}}</td></tr>

	{% if pledge.status|stringformat:'s' == 'PledgeStatus.Open' %}
	<tr><td colspan=2><a href="#" onclick="return cancel_pledge()">Cancel?</a></td></tr>
	{% endif %}

</table>

<script>
function cancel_pledge(desire) {
	show_modal_confirm(
		"Cancel contribution?",
		"Are you sure you want to cancel this contribution?",
		"Cancel Contribution",
		function() {
			ajax({
			    url: '/contrib/_cancel',
			    method: "POST",
			    data: { pledge: {{pledge.id}} },
			    success: function(res) {
			      setTimeout("$('#ajax_loading_indicator').fadeIn()", 100);
			      window.location.reload()
			    }
			})
		});
	return false;
}
</script>

