{% load itfsite_utils %}

<p>You have made/scheduled a campaign contribution for this {{trigger.strings.action}}:</p>

<table class="table">
	<tr><td>Amount:</td> <td>${{pledge.amount|floatformat:2}}</td></tr>

	{% if pledge.status|stringformat:'s' == 'PledgeStatus.Open' %}
	<tr><td>Status:</td> <td>The {{trigger.strings.action}} has not yet occurred. The contribution will only be made once it occurs.</td></tr>
	{% endif %}
	{% if pledge.status|stringformat:'s' == 'PledgeStatus.Cancelled' %}
	<tr><td>Status:</td> <td>Cancelled</td></tr>
	{% endif %}
	{% if pledge.status|stringformat:'s' == 'PledgeStatus.Vacated' %}
	<tr><td>Status:</td> <td>The event that this contribution was pledged for is not expected to occur. The pledge is cancelled.</td></tr>
	{% endif %}

	<tr><td>For:</td> <td>{{pledge.targets_summary}}</td></tr>
	<tr><td>Pledged:</td> <td>{{pledge.created|date}}</td></tr>
	</td></tr>

</table>

