<style>
#pledge-outcomes {
  margin-top: .5em;
}
  #pledge-outcomes button {
    margin: 0 1em 1em 0;
    font-weight: bold;
  }
  #pledge-outcomes button:first-child {
    margin-left: 0;
  }
  #pledge-outcomes button small {
    display: block;
    margin-top: 5px;
    color: #FFD;
    font-family: sans-serif;
    font-weight: normal;
    white-space: normal; /* .btn sets it to nowrap */
    max-width: 20vw;
  }

#advanced-filters label {
  font-weight: normal;
}
  #advanced-filters label div {
    margin-left: 1.5em;
    font-size: 85%;
  }
  #pledge-party {
    margin-bottom: .25em;
  }
  #pledge-party .control-group {
    float: left;
    margin-right: 1em;
  }

#pledge-amount {
  max-width: 10em;
  border: 1px solid #AAA;
  margin: 1em 0;
}
  #pledge-amount .input-group-addon, #pledge-amount input {
    border: none;
    font-size: 24px;
    text-align: right;
  }

#pledge-info label {
  font-weight: normal;
  font-size: 14px;
  padding-right: .5em;
}
#pledge-info p {
  font-size: 14px;
  line-height: 137%;
}

.input-table {
  margin-bottom: 1.5em;
}
  .input-table td {
    padding-right: .4em;
    padding-bottom: 2px;
  }
  .input-table td input {
  }

#make-pledge .buttons {
  margin-top: 1.5em;
}

.responsive-side-panel {
  font-size: 90%;
  color: #331;
}
@media screen and (min-width: 768px) {
  .responsive-side-panel {
    margin-left: 2em;
    border-left: 1px solid #775;
    padding: .5em 0 .5em 1em;
  }
}
@media screen and (max-width: 767px) {
  .responsive-side-panel {
    margin: 1em 0;
    border: 1px solid #775;
    padding: .5em;
  }
}
</style>

<div id="make-pledge">
    <h2>Make a contribution</h2>

    {% if not tcust.has_fixed_outcome %}
        <h3>
            {% if trigger.status|stringformat:'s' == 'TriggerStatus.Open' %}
            How would you {{trigger.trigger_type.strings.action_vb_inf}}?
            {% else %}
            How would you have {{trigger.trigger_type.strings.action_vb_past}}?
            {% endif %}
        </h3>

        <div id="pledge-outcomes">
            {% for outcome in trigger_outcome_strings %}
                <button class="btn btn-lg btn-default" onclick="pledge_begin(this)" data-index="{{forloop.counter0}}">
                <span>{{outcome.label}}</span>
                {% if outcome.tip %}<small>{{outcome.tip}}</small>{% endif %}
                </button>
            {% endfor %}
        </div>
    {% endif %}

  <form id="pledge-info" onsubmit="return false;">
    
    <input type="hidden" name="trigger" value="{{trigger.id}}"/>
    <input type="hidden" name="ref_code" value="{{request.GET.utm_campaign}}"/>
    <input type="hidden" name="via_campaign" value="{{campaign.id}}"/>
    <input type="hidden" name="algorithm" value="{{alg.id}}"/>
    <input type="hidden" name="desired_outcome" value="{% if not tcust.has_fixed_outcome %}?{% else %}{{tcust.outcome}}{% endif %}"/>
    <input type="hidden" name="amount" value="?"/>
    <input type="hidden" name="incumb_challgr" value="?"/>
    <input type="hidden" name="filter_party" value=""/>
    <input type="hidden" name="billingCCExpMonth" value="?"/>
    <input type="hidden" name="billingCCExpYear" value="?"/>
    <input type="hidden" name="copyFromPledge" value=""/>

    <div>
      <div>
        <div id="pledge-start">
          <h3>
            <label for="pledge-amount-field" style="margin: 0; padding: 0; font-size: inherit">
              Contribution amount
            </label>
          </h3>

          <div id="pledge-amount" class="input-group">
            <div class="input-group-addon">$</div>
            <input id="pledge-amount-field" class="form-control focus-on-shown" type="text" value="{{suggested_pledge|floatformat:2}}" pattern="^([0-9]+(,[0-9]{3})*)?(\.[0-9]{0,2})?$" onkeyup="contribution_start_validation()" onchange="contribution_start_validation()" title="Contribution">
          </div>

          <div id="advanced-filters" style="display: none" class="panel panel-default">
            <div class="panel-heading">Who gets your contribution?</div>
            <div class="panel-body">

            <div> {# scopes the text-danger #}
              {% if tcust.incumb_challgr != -1 %}
              <div class="control-group">
                <p style="margin-bottom: 0"><strong>Keep &rsquo;em in.</strong></p>
                <label for="filterIncumbents">
                  <input id="filterIncumbents" type="checkbox" onchange="contribution_start_validation()"
                    {% if tcust.incumb_challgr != -1 %}checked{% endif %}
                    {% if tcust.incumb_challgr %}disabled class="hidden"{% endif %}>
                  If a {{trigger.trigger_type.strings.actor}} {{trigger.trigger_type.strings.action_vb_pres_s}} <span class="fill-in"> </span>, then fund their reelection campaign.
                </label>
              </div>
              {% endif %}

              {% if tcust.incumb_challgr != 1 %}
              <div class="control-group">
                <p style="margin-bottom: 0"><strong>Throw &rsquo;em out.</strong></p>
                <label for="filterChallengers">
                  <input id="filterChallengers" type="checkbox" onchange="contribution_start_validation()"
                    {% if tcust.incumb_challgr != 1 %}checked{% endif %}
                    {% if tcust.incumb_challgr %}disabled class="hidden"{% endif %}>
                  If a {{trigger.trigger_type.strings.actor}} {{trigger.trigger_type.strings.action_vb_pres_s}} <span class="fill-in"> </span>, then fund their opponent&rsquo;s campaign.
                </label>
              </div>
              {% endif %}

              <p class="text-danger" style="display: none">You must choose at least one.</p>
            </div>

            <p style="margin-bottom: 0"><strong>Only make contributions to:</strong></p>

            <div id="pledge-party">
              {% if tcust.filter_party|stringformat:'s' != 'ActorParty.Democratic' %}
              <div class="control-group">
                <label for="filterPartyR" data-value="R">
                  <input  id="filterPartyR" type="checkbox" onchange="contribution_start_validation()"
                    {% if tcust.filter_party|stringformat:'s' != 'ActorParty.Democratic' %}checked{% endif %}
                    {% if tcust.filter_party %}disabled class="hidden"{% endif %}>
                  Republicans
                </label>
              </div>
              {% endif %}

              {% if tcust.filter_party|stringformat:'s' != 'ActorParty.Republican' %}
              <div class="control-group">
                <label for="filterPartyD" data-value="D">
                  <input id="filterPartyD" type="checkbox" onchange="contribution_start_validation()"
                    {% if tcust.filter_party|stringformat:'s' != 'ActorParty.Republican' %}checked{% endif %}
                    {% if tcust.filter_party %}disabled class="hidden"{% endif %}>
                  Democrats
                </label>
              </div>
              {% endif %}

              <div class="clearfix"> </div>

              <p class="text-danger" style="display: none">You must choose at least one.</p>
            </div>

            {% if tcust.incumb_challgr or tcust.filter_party %}
            <p style="margin-bottom: 0; font-style: italic; font-size: 88%; color: #666;">Some of these options have been pre-set by {{tcust.owner.name}}.</p>
            {% endif %}
          </div>
          </div> <!-- /advnaced-filters -->

          <p id="filter-summary">
            <span class="text"> </span>

            {% if not tcust.incumb_challgr or not tcust.filter_party %}
              <span class="advanced-filters-link">[<a href="#" onclick="return show_and_scroll('advanced-filters', this.parentNode);">Advanced Filters</a>]</span>
            {% else %}
              {# no need to show the advanced options panel if there is nothing to customize #}
              <span style="font-style: italic;">(This has been preset by {{tcust.owner.name}}.)</span>
            {% endif %}
          </p>

          <div class="buttons">
            <button id="contribution-start-next" type="button" class="btn btn-warning" onclick="do_pledge_start_next()">Next &gt;</button
            >
          </div>
        </div> <!-- /pledge-start -->

        <div id="pledge-contributor" style="display: none">
          <h3>About you</h3>

          <div class="row">
            <div class="col-sm-5 col-sm-push-7 col-md-6 col-md-push-6">
              <div class="responsive-side-panel">
                  <p><strong>Federal law restricts who can make campaign contributions:</strong></p>
                  <p>You must be either a U.S. citizen or lawfully admitted permanent resident (i.e., a green card holder). You cannot be employed <i>directly</i> by the federal government as a contractor. You must make this contribution with your own funds, which were not provided to you by any other person or entity. You must use your own personal credit card, and not a corporate or business card or a card issued to another person.</p>
                  <p>The Federal Election Commission requires all contributors to federal campaigns to provide all of the information we ask for in this section, and in most cases it becomes a part of the public record and searchable in online databases (<a href="/about/how-it-works#isthisanonymous" target="_blank">more information</a>).</p>
              </div>
            </div>
            <div class="col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6">
              <div id="contributor-new">
                <div id="contributor-email" class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" class="form-control" id="emailEmail" name="email" placeholder="yourname@youremail.com" onblur="do_pledge_validate_email()">

                  <div id="pledge-login">
                    <div style="margin-top: 2px; margin-left: 2px;">
                      <label for="emailEmailYesPassword" style="font-size: 80%">
                        <input id="emailEmailYesPassword" type="checkbox" name="hasPassword" onchange="$('#emailPasswordDiv').toggle($(this).prop('checked')); setTimeout('$(&quot;#emailPassword&quot;).focus()', 1)">
                        I have an <span class="site-brand">if.then.fund</span> account already.
                      </label>
                    </div>
                    <div id="emailPasswordDiv" style="display: none; margin-left: 1em">
                      <div class="form-group form-inline">
                        <label for="emailPassword">Password:</label>
                        <input type="password" id="emailPassword" name="password" class="form-control" style="max-width: 15em">
                        <button id="login-next" type="button" class="btn btn-primary" onclick="do_pledge_login()">Login &gt;</button>
                      </div>
                      <div class="small" style="margin-top: 2px">Forgot your password? Uncheck the box above and continue.</div>
                      <p id="login-error" class="text-danger" style="display: none; padding-top: 1em"></p>
                    </div>
                  </div>
                </div>

                <label>Name and Address</label>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {# <label for="contribNameFirst">First Name</label> #}
                      <input type="text" class="form-control" id="contribNameFirst" name="contribNameFirst" placeholder="first name">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      {# <label for="contribNameLast">Last Name</label> #}
                      <input type="text" class="form-control" id="contribNameLast" name="contribNameLast" placeholder="last name">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  {# <label for="contribAddress">Address</label> #}
                  <input type="text" class="form-control" id="contribAddress" name="contribAddress" placeholder="123 Your Location St.">
                </div>
                <div class="row">
                  <div class="col-sm-5 col-md-6">
                    <div class="form-group">
                      {# <label for="contribCity">City</label> #}
                      <input type="text" class="form-control" id="contribCity" name="contribCity" placeholder="Everytown">
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <div class="form-group">
                      {# <label for="contribState">State</label> #}
                      <input type="text" class="form-control" id="contribState" name="contribState" placeholder="state">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      {# <label for="contribZip">ZIP</label> #}
                      <input type="text" class="form-control" id="contribZip" name="contribZip" placeholder="12345" maxlength="10">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div>
                      <label for="contribUnemployed">
                        <input id="contribUnemployed" type="checkbox" onchange="$('.contribUnemployedTarget').toggle(!$(this).prop('checked')); if ($(this).prop('checked')) { $('#contribOccupation').val('not employed'); $('#contribEmployer').val('none'); }">
                        Retired or not employed?
                      </label>
                    </div>
                    <div class="col-sm-6 contribUnemployedTarget">
                      <div class="form-group">
                        <label for="contribOccupation">Occupation</label>
                        <input type="text" class="form-control" id="contribOccupation" name="contribOccupation">
                      </div>
                    </div>
                    <div class="col-sm-6 contribUnemployedTarget">
                      <div class="form-group">
                        <label for="contribEmployer">Employer</label>
                        <input type="text" class="form-control" id="contribEmployer" name="contribEmployer">
                      </div>
                    </div>
                  </div>
                </div>

                <p class="has-open-pledges" style="display: none;">We&rsquo;ll apply your update to your other scheduled contributions too.</p>
              </div>


              <div id="contributor-old" style="display: none">
                <p>Please check your name, address, and employment. Is what you told us last time still true?</p>

                <p style="margin: 1em 2em .25em 2em">
                  <span class="field-contribNameFirst"> </span> <span class="field-contribNameLast"> </span>
                  <br><span class="field-contribAddress"> </span>
                  <br><span class="field-contribCity"> </span>, <span class="field-contribState"> </span> <span class="field-contribZip"> </span>
                </p>
                <p id="contributor-existing-email" style="margin: .25em 2em .5em 2em">
                  <span class="field-email"> </span>
                </p>
                <p style="margin: .25em 2em .5em 2em">
                  <span class="field-contribOccupation"> </span> <span style="font-size: 95%; font-style: italic">(occupation)</span>
                  <br><span class="field-contribEmployer"> </span> <span style="font-size: 95%; font-style: italic">(employer)</span>
                </p>

                <p style="margin: .5em 2em 1.5em 2em">
                  <button id="pledge-contributor-old-update" href="#" class="btn btn-default btn-sm" onclick="$('#pledge-info input[name=&quot;copyFromPledge&quot;]').val(''); $('#contributor-old, #payment-old').hide(); $('#contributor-new, #payment-new').show(); $('#contributor-new .focus-on-shown').focus(); return false;">Update</button>
                </p>
              </div>              

              <p>This information will become a part of the public record if the {{trigger.trigger_type.strings.action_noun}} occurs, as required by law.</p>

              <div class="buttons">
                <button type="button" class="btn btn-default" onclick="do_contributor_cancel();">&lt; Back</button>        
                <button id="contribution-contributorinfo-next" type="button" class="btn btn-warning" onclick="do_contributor_next()">Next &gt;</button>
              </div>
            </div>
          </div>        
        </div> <!-- /pledge-contributor -->

        <div id="pledge-payment" style="display: none">
          <h3>Payment information</h3>

          <div class="row">
            <div class="col-sm-7 col-md-6">
              <div id="payment-new">
              <p>Enter the credit card information that you would like us to charge when the {{trigger.trigger_type.strings.action_noun}} occurs.</p>

              <table class="input-table">
                <tr>
                  <td><label for="billingCCNum">Number</label></td>
                  <td>
                    <input type="text" class="cc-num focus-on-shown form-control" id="billingCCNum" name="billingCCNum" pattern="\d*" novalidate autocomplete="cc-number" placeholder="0000 0000 0000 0000" required>
                  </td>
                </tr>
                <tr>
                  <td><label for="billingCCExp">Expiration</label></td>
                  <td>
                    <input type="text" class="cc-exp form-control" id="billingCCExp" pattern="\d+/\d+" novalidate placeholder="MM/YYYY">
                  </td>
                </tr>
                <tr>
                  <td><label for="billingCCCVC">CVC</label></td>
                  <td>
                    <input type="text" class="cc-cvc form-control" id="billingCCCVC" name="billingCCCVC" autocomplete="off">
                  </td>
                </tr>
              </table>
              <p class="has-open-pledges" style="display: none;">We&rsquo;ll apply this payment information to your other scheduled contributions too.</p>
              </div>

              <div id="payment-old" style="display: none">
                <p>When the {{trigger.trigger_type.strings.action_noun}} occurs, we&rsquo;ll charge your credit card ending in <span class="cc-num"></span>.
                  <a href="#" onclick="$('#pledge-info input[name=&quot;copyFromPledge&quot;]').val(''); $('#payment-old').hide(); $('#payment-new').show(); $('#payment-new .focus-on-shown').focus(); return false;">Change card?</a>
                </p>
              </div>

              <p style="margin: 1.5em 0">By clicking next, you agree that you have reviewed the contributor requirements above and our <a href="/terms" target="_blank">terms of use</a>.</p>

              <div class="buttons" style="margin: 1.5em 0">
                <button type="button" class="btn btn-default" onclick="pledge_payment_cancel()">&lt; Back</button>
                <button id="billing-next" type="button" class="btn btn-warning" onclick="pledge_submit()">Confirm</button>
              </div>
            </div>
            <div class="col-sm-5 col-md-6">
              <div class="responsive-side-panel">
                <h4>What happens next</h4>
                  <p>You are about to schedule a campaign contribution for if and when the {{trigger.trigger_type.strings.action_noun}} occurs. Your contribution may be split up to {{trigger.extra.max_split}} ways depending on the outcome of the {{trigger.trigger_type.strings.action_noun}}.</p>
                  <p>We will not charge your credit card until the {{trigger.trigger_type.strings.action_noun}} occurs, and you can cancel this contribution any time before then.</p>
                  <p>You may see a $1 authorization from Democracy Engine, LLC on your credit card. This is how we test that your credit card information is valid. The $1 authorization will not result in an actual charge.</p>
              </div>
            </div>
          </div>
        </div> <!-- /pledge-payment -->

      </div> <!-- nothing -->
    </div> <!-- nothing -->
  </form>

</div> <!-- /make-pledge -->


      
    
<script>
function pledge_init() {
  var suggested_pledge = {{suggested_pledge}};

  // Don't let the user try to log in if they are logged in already.
  if (the_user) {
    $('#contributor-email, #contributor-existing-email').remove();
  }

  // Set some defaults based on the user's last pledge.
  if (the_page && the_page.pledge_defaults) {
    // First set defaults for the fields that are displayed prior to the option to login.

    if (the_page.pledge_defaults['amount']) {
      $('#pledge-amount input').val(the_page.pledge_defaults['amount'].toFixed(2));
      suggested_pledge = null; // don't record in mixpanel
    }

    {% if not tcust.incumb_challgr %}
    if (the_page.pledge_defaults.incumb_challgr) {
      $('#filterIncumbents, #filterChallengers').prop('checked', false);
      if (the_page.pledge_defaults.incumb_challgr == -1)
        $('#filterChallengers').prop('checked', true);
      else if (the_page.pledge_defaults.incumb_challgr == 1)
        $('#filterIncumbents').prop('checked', true);
      else if (the_page.pledge_defaults.incumb_challgr == 0)
        $('#filterIncumbents, #filterChallengers').prop('checked', true);
    }
    {% endif %}

    {% if not tcust.filter_party %}
    $('#filterPartyR').prop('checked', the_page.pledge_defaults.filter_party == 'ActorParty.Republican' || the_page.pledge_defaults.filter_party == null);
    $('#filterPartyD').prop('checked', the_page.pledge_defaults.filter_party == 'ActorParty.Democratic' || the_page.pledge_defaults.filter_party == null);
    {% endif %}

    if (the_page.pledge_defaults.email) {
        $('#emailEmail').val(the_page.pledge_defaults.email);
        $('#contributor-old .field-email').text(the_page.pledge_defaults.email);
    }

    // Set defaults for the other post-login tabs.
    setPledgeDefaults(the_page.pledge_defaults)
  }

  // Set up dynamic validation event handlers.

  $('input.cc-num').payment('formatCardNumber');
  $('input.cc-exp').payment('formatCardExpiry');
  $('input.cc-cvc').payment('formatCardCVC');

  // Outcome buttons should be the same size. Because the text font may not be
  // loaded yet, the size we set now may not be correct once the font is loaded.
  // Re-set the size again after a period of time when we think all of the fonts
  // should be loaded.
  function set_button_sizes() {
    set_css_to_maximum($('#pledge-outcomes button'), 'width');
    set_css_to_maximum($('#pledge-outcomes button'), 'height');
  }
  set_button_sizes();
  setTimeout(set_button_sizes, 300);

  // For testing, pre-fill form fields with demonstration values.

  if (window.location.hash == "#demo") {
    $('#emailEmail').val("demo+" + parseInt(1000+Math.random()*5000) + "@if.then.fund")
    $('#contribNameFirst').val('John')
    $('#contribNameLast').val('Doe')
    $('#contribAddress').val('123 Main Street')
    $('#contribCity').val('Plainview')
    $('#contribState').val('TX')
    $('#contribZip').val('00001-1234')
    $('#contribOccupation').val('demonstrator')
    $('#contribEmployer').val('self')
  }
  if (window.location.hash == "#demo" {% if SITE_MODE == "demo" %} || 1{% endif %}) {
    $('#billingCCNum').val('4111111111111111')
    $('#billingCCExp').val('1/2020')
    $('#billingCCCVC').val('000')
  }

  contribution_update_display_text();
  contribution_start_validation();

  mixpanel.track("Pledge Form Shown", { 'trigger': {{trigger.id}}, 'funnelstate': 1, 'suggested_pledge': suggested_pledge });
}

function setPledgeDefaults(pledge_defaults) {
  if (!pledge_defaults.from_pledge)
    return;

  // pre-populate contributor fields
  var fields = ['contribNameFirst', 'contribNameLast', 'contribAddress', 'contribCity', 'contribState', 'contribZip', 'contribOccupation', 'contribEmployer'];
  for (var i = 0; i < fields.length; i++) {
    var v = pledge_defaults[fields[i]];
    if (v) {
      // the span to preview
      $('#contributor-old').find('.field-' + fields[i]).text(v);

      // the input field (which is what is actually submitted)
      $('#' + fields[i]).val(v)
    }
  }

  // populate credit card preview field
  $('#payment-old .cc-num').text(pledge_defaults.cclastfour);

  // if the user doesn't override, the ID of the pledge this info came from
  $('#pledge-info input[name="copyFromPledge"]').val(pledge_defaults.from_pledge);

  // show the preview divs rather than the input field divs
  $('#contributor-new, #payment-new').hide();
  $('#contributor-old, #payment-old').show();
  if (pledge_defaults.open_pledges > 0) $('.has-open-pledges').show()
}

function pledge_begin(button_elem) {
	// Which outcome was selected?
	var outcome_index = $(button_elem).attr('data-index');

	// Indicate chosen state.
	$('#pledge-outcomes button').each(function() {
		$(this).toggleClass('active btn-success', $(this).attr('data-index') == outcome_index);
		$(this).toggleClass('inactive', $(this).attr('data-index') != outcome_index);
	})

	// Set form field for submission.
	$('#pledge-info input[name="desired_outcome"]').val($(button_elem).attr('data-index'))
	
	// Track event.
	mixpanel.track("Pledge Begin", { 'campaign': {{campaign.id}}, 'outcome_index': outcome_index });

	// Prepare form.
	contribution_update_display_text();
	contribution_start_validation();
}

function get_contribution_amount() {
  // Check that the number input looks numeric in its entirety. parseFloat
  // ignores non-parsable content at the end. English localization is
  // hard-coded in the regular expression and in the handling of commas.
  var amt = $('#pledge-amount input').val();
  var re = RegExp($('#pledge-amount input').attr('pattern'))
  if (!re.test(amt)) return null;

  // Strip thousands-commas, which parseFloat doesn't like.
  amt = amt.replace(/,/, '');

  // Attempt to parse. parseFloat returns NaN if the expression cannot
  // be parsed. To be sure we'll also check that it doesn't return +/-Inf
  // (all three conditions are handled by isFinite).
  amt = parseFloat(amt);
  if (!isFinite(amt)) return null;

  // Round it to a whole number of cents.
  amt = Math.round(amt*100)/100;

  // Check bounds.
  if (amt < {{trigger.get_minimum_pledge}} || amt > {{alg.max_contrib}})
    return null;

  return amt;
}

function getIncumbentChallengerValue() {
  if ($('#filterIncumbents').prop('checked') && $('#filterChallengers').prop('checked'))
    return 0;
  if ($('#filterIncumbents').prop('checked'))
    return 1;
  if ($('#filterChallengers').prop('checked'))
    return -1;
  return null;
}

function getPartyFilterValue() {
  var party = "";
  $('#pledge-party input:checked').each(function(node) {
    party += $(this).parent().attr("data-value");
  })
  return party;
}
  
function contribution_update_display_text() {
  // Fill in the user's choice in the checkbox fields for the filters for
  // who to give to.

  var trigger_outcomes = [
    {% for outcome in trigger_outcome_strings %}
      "{% if outcome.object %}{{outcome.object|escapejs}}{% else %}{{outcome.label|escapejs}}{% endif %}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
  ];

  var outcome_index = $('#pledge-info input[name="desired_outcome"]').val();

  if (outcome_index == "?") {
    $('#filter-summary span.text').text("We will split your contribution across up to {{trigger.extra.max_split}} {{trigger.trigger_type.strings.actors|escapejs}}.");
    $('#filter-summary .advanced-filters-link').hide();
    return;
  }

  $('#filter-summary .advanced-filters-link').show();

  function fill_in(filter_elem, opponent) {
    if (opponent) outcome_index = 1 - outcome_index; // assumes two options!
    var text = trigger_outcomes[outcome_index];
    $(filter_elem).parent().find('.fill-in').text(text);
  }

  // Fill in the incumbents via the user's choice.
  fill_in('#filterIncumbents');

  // Fill in the challengers via the button that the user didn't choose.
  // If there is more than one option in the future, this will need to be revised.
  fill_in('#filterChallengers', true);

  // Human-readable explanation of the current filter choices.
  // This is mirrored in models.py's Pledge.targets_summary().
  var party = "";
  if (getPartyFilterValue() == "D") party = "Democratic ";
  if (getPartyFilterValue() == "R") party = "Republican ";

  var who;
  var ic = getIncumbentChallengerValue();
  if (ic == 1)
    who = party + "{{trigger.trigger_type.strings.actors|escapejs}} who {{trigger.verb|escapejs}} " + $('#filterIncumbents').parent().find('.fill-in').text();
  else if (ic == -1)
    who = "the opponents in the next general election of {{trigger.trigger_type.strings.actors|escapejs}} who {{trigger.verb|escapejs}} " + $('#filterChallengers').parent().find('.fill-in').text() + (party ? (" if the opponent is in the " + party + "party") : "");
  else if (party == "")
    who = "up to {{trigger.extra.max_split}} {{trigger.trigger_type.strings.actors|escapejs}}. Each will get a part of your contribution if they {{trigger.verb|escapejs}} " + $('#filterIncumbents').parent().find('.fill-in').text() + ". But if they {{trigger.verb|escapejs}} " + $('#filterChallengers').parent().find('.fill-in').text() + ", their part of your contribution will go to their next general election opponent"
  else
    who = party + "{{trigger.trigger_type.strings.actors|escapejs}} who {{trigger.verb|escapejs}} " + $('#filterIncumbents').parent().find('.fill-in').text() + " and the opponents in the next general election of {{trigger.trigger_type.strings.actors|escapejs}} who {{trigger.verb|escapejs}} " + $('#filterChallengers').parent().find('.fill-in').text() + (party ? (" if the opponent is in the " + party + "party") : "");

  $('#filter-summary span.text').text("We will split your contribution evenly across " + who + ".");
}

function show_and_scroll(elem_id, kill_elem) {
  var elem = $('#' + elem_id);
  elem.fadeIn('fast', function() {
    smooth_scroll_to(elem);
    elem.find('.focus-on-shown').focus();
  })
  if (kill_elem)
    $(kill_elem).remove();
  return false; // for onclick events
}

function validate_contribution_amount(no_popover) {
  var valid = true;
  if (get_contribution_amount() == null) {
    $('#pledge-amount .input-group-addon').css({ color: '#666' })
    if (!no_popover)
      $('#pledge-amount').popover({ content: "Must be between ${{trigger.get_minimum_pledge}} and ${{alg.max_contrib|floatformat}}." }).popover('show');
    valid = false;
  } else {
    $('#pledge-amount .input-group-addon').css({ color: 'green' })
    $('#pledge-amount').popover('destroy');
  }
  return valid;
}

function validate_contribution_filters(no_popover) {
  var valid = true;

  if (getIncumbentChallengerValue() == null) {
    if (!no_popover)
      $('#filterIncumbents').parents('.control-group').parent().find('.text-danger').slideDown();
    valid = false;
  } else {
      $('#filterIncumbents').parents('.control-group').parent().find('.text-danger').slideUp();
  }

  if (getPartyFilterValue() == "") {
    if (!no_popover)
      $('#filterPartyR').parents('.control-group').parent().find('.text-danger').slideDown();
    valid = false;
  } else {
      $('#filterPartyR').parents('.control-group').parent().find('.text-danger').slideUp();
  }

  return valid;
}

function contribution_start_validation(no_popover) {
  var valid =
       $('#pledge-info input[name="desired_outcome"]').val() != "?"
    && validate_contribution_amount(no_popover)
    && validate_contribution_filters(no_popover);
  $('#contribution-start-next').prop('disabled', !valid);
  return valid;
}

function do_pledge_start_next() {
  if (!contribution_start_validation(true)) return;
  $('#pledge-amount input').prop('readonly', true);
  $('#pledge-start .buttons').hide();
  show_and_scroll('pledge-contributor');
  mixpanel.track("Pledge Amount Entered", { 'trigger': {{trigger.id}}, 'amount': get_contribution_amount() });
}

function do_pledge_login() {
  $('#login-error').fadeOut();

  if ($('#emailEmail').val() == "") {
    $('#emailEmail').popover({ content: "Enter your email address.", placement: 'bottom' }).popover('show');
    return;
  }

  $('#emailEmail').popover('destroy');

  // User wants to log in. An AJAX login will reset the CSRF token, so
  // we'll avoid actually logging the user in now and just do validation
  // and get defaults for the fields that follow.
  ajax_with_indicator({
    url: "/contrib/_defaults",
    method: "POST",
    data: {
      email: $('#emailEmail').val(),
      password: $('#emailPassword').val(),
      trigger: {{trigger.id}}
    },
    success: function(response) {
      if (response.status == "NotValid") {
        $('#login-error').text(response.message);
        $('#login-error').slideDown();
        return;
      }
      if (response.status == "AlreadyPledged") {
        $('#login-error').text("You have already scheduled a contribution for this {{trigger.trigger_type.strings.action_noun|escapejs}}. Please log in to see details.");
        $('#login-error').slideDown();
        return;
      }

      // Set contributor info from past records.
      setPledgeDefaults(response);
    }
  })
}

function do_pledge_validate_email(callback) {
  // User provides his email address and is a new user.

  // Start by validating it. Reject if the adddress is clearly
  // invalid. In the future we may want to issue a different
  // message for emails that are Valid but not Deliverable.
  // We also silently skip Error and let the user go forward.
  $('#emailEmail').popover('destroy');
  ajax_with_indicator({
    url: "/contrib/_validate_email",
    method: "POST",
    data: {
      trigger: {{trigger.id}},
      via_campaign: {{campaign.id}},
      desired_outcome: $('#pledge-info input[name="desired_outcome"]').val(),
      ref_code: '{{request.GET.utm_campaign|escapejs}}',
      email: $('#emailEmail').val()
    },
    success: function(response) {
      if (response != "OK") {
          $('#emailEmail').popover({ content: response, placement: 'bottom' }).popover('show');
          return;
      }
      if (callback) callback();
    }
  })
}

function do_contributor_next() {
  if (!the_user)
    // validate the email address
    do_pledge_validate_email(do_contributor_next_);
  else
    // just go on - user isn't asked for an email address
    do_contributor_next_();
}

function do_contributor_next_() {
  // Validate contributor fields.

  var required_fields = ['contribNameFirst', 'contribNameLast', 'contribOccupation', 'contribEmployer', 'contribAddress', 'contribCity', 'contribState', 'contribZip'];
  var valid = true;

  for (var i = 0; i < required_fields.length; i++) {
    var elem = $('#' + required_fields[i]);
    elem.popover('destroy');
    if (!/\S/.test(elem.val())) {
      valid = false;
      elem.popover({ content: "Required." }).popover('show');
    }
  }

  if (!valid) return;

  $('#emailEmail').prop('readonly', true);
  $('#pledge-contributor input[type=text]').prop('readonly', true);
  $('#pledge-contributor input[type=checkbox]').prop('disabled', true);
  $('#pledge-contributor .buttons').hide();
  show_and_scroll('pledge-payment');

  mixpanel.track("Pledge Contributor Info Entered", { 'trigger': {{trigger.id}} });
}

function do_contributor_cancel() {
  $('#pledge-amount input').prop('readonly', false);
  $('#pledge-start .buttons').show();
  smooth_scroll_to($('#pledge-start'));
  $('#pledge-contributor').hide();
}

function validate_and_set_cc_fields() {
  $('#billingCCNum').popover('destroy');
  $('#billingCCExp').popover('destroy');
  $('#billingCCCVC').popover('destroy');

  if (!$.payment.validateCardNumber($('#billingCCNum').val())) {
    $('#billingCCNum').popover({ content: "Enter a credit card number." }).popover('show');
    return false;
  }

  var exp = $('#billingCCExp').payment('cardExpiryVal');
  if (!$.payment.validateCardExpiry(exp.month, exp.year)) {
    $('#billingCCExp').popover({ content: "Enter a valid expiration date." }).popover('show');
    return false;
  }
  $('#pledge-info input[name="billingCCExpMonth"]').val(exp.month);
  $('#pledge-info input[name="billingCCExpYear"]').val(exp.year);

  if (!$.payment.validateCardCVC($('#billingCCCVC').val())) {
    $('#billingCCCVC').popover({ content: "Enter your card verification code, often found on the back side of the card." }).popover('show');
    return false;
  }

  return true;
}

function pledge_submit() {
  // fill in some form fields
  $('#pledge-info input[name="amount"]').val(get_contribution_amount())
  $('#pledge-info input[name="incumb_challgr"]').val(getIncumbentChallengerValue())
  $('#pledge-info input[name="filter_party"]').val(getPartyFilterValue())

  // validate credit card information and set form fields, but only if we're not reusing an old pledge token
  if ($('#pledge-info input[name="copyFromPledge"]').val() == '')
    if (!validate_and_set_cc_fields())
      return;

  // Valid. Submit! Collect all of the form fields.
  var form_params = $('#pledge-info').serializeArray();
  var data = { };
  for (var i = 0; i < form_params.length; i++)
    data[form_params[i].name] = form_params[i].value;
  ajax_with_indicator({
    url: '/contrib/_submit',
    method: "POST",
    data: data,
    success: function(res) {
      if (res && res.status == "ok") {
        // show a loading indicator and have it go indefinitely until the page reloads
        // to show the user updated info on the pledge he/she made
        setTimeout("$('#ajax_loading_indicator').fadeIn()", 100);
        window.location.reload()
      } else if (res.status == "error" && res.message) {
        show_modal_error("Error", res.message);
      } else {
        show_modal_error("Error", "Something went wrong, sorry.");
        console.log(res);
      }
    }
  })

  // Conversion Tracking.

  // These might not execute if the AJAX request above is quick and
  // the reload begins before the mixpanel AJAX request is sent...

  // Mixpanel.
  mixpanel.track("Pledge Submitted", { 'trigger': {{trigger.id}} });

  // Facebook "Pledge Made" conversion.
  window._fbq.push(['track', '6023688411930', {'value': get_contribution_amount(), 'currency':'USD'}]);
}

function pledge_payment_cancel() {
  $('#emailEmail').prop('readonly', false);
  $('#pledge-contributor input[type=text]').prop('readonly', false);
  $('#pledge-contributor input[type=checkbox]').prop('disabled', false);
  $('#pledge-contributor .buttons').show();
  $('#pledge-payment').hide();
}
</script>
