{% extends "master.html" %}
{% load itfsite_utils humanize %}
{% load static from staticfiles %}

{% block title %}{{SITE_NAME}}&rsquo;s Aggregate Contributions{% endblock %}

{% block head %}
<meta property="og:title" content="{{SITE_NAME}}&rsquo;s Aggregate Contributions" />
<meta property="og:description" content="All campaign contributions made through {{SITE_NAME}}.">
{% include "og_image.html" %}
<meta name="twitter:card" content="summary" />

<style>
h3 + table { margin-top: 1em; }
.table>tbody>tr.merge-up td { padding-top: 0; }
.table>tbody>tr.merge-down td { padding-bottom: 2px; }
.table-bordered>tbody>tr.merge-up td { border-top: none;  }
.table-bordered>tbody>tr.merge-down td { border-bottom: none;  }
#aggregates td:nth-child(2) { text-align: right; }
</style>
{% endblock %}

{% block body %}
<h1>Totals</h1>

<p><span class='site-brand'>{{SITE_NAME}}</span> has processed {{total.total|currency}} in campaign contributions between {{first_contrib_date|date}} and {{last_contrib_date|date}}.</p>

<div class="row">
	<div class="col-sm-5">
		<h2>Overall</h2>
		<table id="aggregates" class="table table-bordered">
		<tr><td>Contributions</td> <td>{{total.total|currency}}</td></tr>
		<tr><td>Contributors <br><small>users with executed contributions</small></td> <td>{{users|intcomma}}</td></tr>
		<tr class="merge-down"><td>Number of Contributions</td> <td>{{total.count|intcomma}}</td></tr>
		<tr class="merge-down merge-up"><td>Average Contribution</td> <td>{{total.average|currency}}</td></tr>
		<tr class="merge-up"><td><small>i.e. an issued check</small></td></tr>
		{% if num_triggers > 1 %}
		<tr><td>Events Leading to Contributions</td> <td>{{num_triggers|intcomma}}</td></tr>
		{% endif %}
		<tr class="merge-down"><td>Pledged</td> <td>{{pledge_aggregate|currency}}</td></tr>
		<tr class="merge-down merge-up"><td>Number of Pledges</td> <td>{{pledges|intcomma}}</td></tr>
		<tr class="merge-down merge-up"><td>Number of Confirmed Pledges</td> <td>{{pledges_confirmed|intcomma}}</td></tr>
		<tr class="merge-down merge-up"><td>Users</td> <td>{{users_pledging|intcomma}}</td></tr>
		<tr class="merge-down merge-up"><td>Users w/ 2+ Pledges</td> <td>{{users_pledging_twice|intcomma}}</td></tr>
		<tr class="merge-up"><td><small>includes pledges that have been executed</small></td></tr>
		</table>
	</div>
</div>

<h2>Recipients</h2>
<p>The following tables break down the contributions by recipient.</p>
<div class="row">
	<div class="col-sm-5">
		<h3>Keep &rsquo;em in or throw &rsquo;em out?</h3>
		<table class="table table-bordered">
		<thead><tr><th>Recipient Type</th> <th>Total</th></thead>
		<tbody>
		{% for rec in by_recipient_type %}
			<tr>
				<td>{{rec.recipient_type}}</td>
				<td>{{rec.total|currency}}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		<p class="small">Users choose whether contributions will go to incumbents or their next general election opponents.</p>
	</div>

	<div class="col-sm-5 col-sm-offset-1">
		<h3>By Party</h3>
		<table class="table table-bordered">
		<thead><tr><th>Party</th> <th>Total</th></thead>
		<tbody>
		{% for rec in by_party %}
			<tr>
				<td>{{rec.party.name}}</td>
				<td>{{rec.total|currency}}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>

<div>
	<h3>All Recipients</h3>

	<table class="table table-condensed">
	<thead>
		<th>Candidate</th>
		<th>Contributions<br>To Them</th>
		<th>Contributions<br>To Opponent</th>
	</thead>
	<tbody>
	{% for rec in actors %}
		<tr>
			<td>{{rec.actor.name_long}}</td>
			<td class="{% if rec.Incumbent %}text-success{% else %}text-muted{% endif %}">{{rec.Incumbent|currency}}</td>
			<td class="{% if rec.GeneralChallenger %}text-danger{% else %}text-muted{% endif %}">{{rec.GeneralChallenger|currency}}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}

