{% extends "master.html" %}
{% load itfsite_utils %}

{% block title %}{{trigger.title}}{% endblock %}

{% block head %}
<style>
@media screen and (min-width: 768px) {
	#trigger-metadata {
		padding-top: 86px;
		background-color: #F7F7F7;
	}
}

.meta-stat {
  margin: 0 0 2em 0;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
  .meta-stat .num {
  	margin-bottom: 8px;
	font-size: 36px;
  	color: #444;
  }
  .meta-stat .lbl {
	color: #555;
  }
  .meta-stat.lesser .num {
	font-size: 30px;
  }

#my-pledge {
	margin: 1.5em 0 2em 0;
}

#trigger-metadata .panel-body {
	line-height: 130%;
	font-size: 88%;
}
</style>
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-sm-8">
		{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' %}
			<div class="overline">Take Action</div>
		{% else %}
			<div class="overline">What Happened</div>
		{% endif %}

		<h1>{{trigger.title}}</h1>

		{{trigger.description|render_text:trigger.description_format}}

		{% if trigger.extra.type == "usbill" and trigger.status|stringformat:'s' != 'TriggerStatus.Executed' %}
			<p class="text-muted small">More info on this {{trigger.extra.bill_info.noun}} can be found on <a href="{{trigger.extra.bill_info.link}}">GovTrack</a>.</p>
		{% endif %}


		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Draft' %}
			<p>This trigger is in draft status. That means it is currently being prepared. Contributions may be accepted soon.</p>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Open' %}
			{% include "contrib/pledge-form.html" %}

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Paused' %}
			<h2>Take action</h2>
			<p>This action is paused. We may be about to convert the pledges into campaign contributions or we may be researching whether the event occurred.</p>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Vacated' %}
			<h2>Closed</h2>
			<p>This action has been cancelled. We determined that the event will likely never occur and have vacated all of the pledges.</p>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Executed' and trigger.pledge_count > trigger.execution.pledge_count %}
			<p class="text-danger" style="margin-top: 1.5em">The {{trigger.strings.action_noun}} ocurred, and we are now in the process of making campaign contributions. Check back soon for further details.</p>

			<div id="my-pledge">
			</div>
			
		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Executed' %}
			{{execution.description|render_text:execution.description_format}}

			<h2>Contributions</h2>

			<p>{{execution.pledge_count_with_contribs}} donor{{execution.pledge_count_with_contribs|pluralize}} made contributions totalling {{execution.total_contributions|currency}}.</p>

			<div id="my-pledge">
			</div>

			<h3>Totals</h3>

			<div class="row">
				<div class="col-sm-6">
					<table class="table" style="width: auto">
					<thead><tr><th colspan="2">By Desired Outcome</th></tr></thead>
					{% for outcome in outcomes %}
						<tr>
							<th>{{outcome.label}}:</th>
							<td>{{outcome.contribs|currency}}</td>
						</tr>
					{% endfor %}
					<tr style="color: #333; background-color: #F5F5F5">
						<th>Total</th>
						<td style="font-weight: bold">{{execution.total_contributions|currency}}</td>
					</tr>
					</table>
				</div>
				<div class="col-sm-6">
					<table class="table" style="width: auto">
					<thead><tr><th colspan="2">By Recipient Type</th></tr></thead>
					{% for row in by_incumb_chlngr %}
						<tr class="{{row.2}}">
							<th>{{row.0}}:</th>
							<td>{{row.1|currency}}</td>
						</tr>
					{% endfor %}
					<tr style="color: #333; background-color: #F5F5F5">
						<th>Total</th>
						<td style="font-weight: bold">{{execution.total_contributions|currency}}</td>
					</tr>
					</table>
				</div>
			</div>

			<p>{{num_recips}} {{trigger.strings.actors}} {{trigger.strings.action_vb_past}}.
			<span><a href="#" onclick="$(this).parent().remove(); $('#contribs-by-recipient').fadeIn(); return false;">Show Details</a>.</span>
			</p>

			<div id="contribs-by-recipient" style="display: none">
				<h3>{{trigger.strings.actors|capfirst}}</h3>

				<table class="table" style="width: auto">
				<thead>
					<tr>
						<th>Candidate</th>
						<th>{{trigger.strings.action_noun|capfirst}}</th>
						<th>Contributions<br>To Candidate</th>
						<th>Contributions<br>To Opponent</th>
					</tr>
				</thead>
				<tbody>
				{% for action in actions %}
					<tr>
						<td>{{action.name_long}}</td>
						<td {% if not action.has_outcome %}style="font-style: italic"{% endif %}>
							{{action.outcome_label}}
						</td>
						{% if action.has_outcome %}
						<td class="{% if action.total_contributions_for %}text-success{% else %}text-muted{% endif %}">{{action.total_contributions_for|currency}}</td>
						<td class="{% if action.total_contributions_against %}text-danger{% else %}text-muted{% endif %}">{{action.total_contributions_against|currency}}</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>

		{% endif %}
	</div>

	<div id="trigger-metadata" class="col-sm-4">
		{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' or trigger.execution.pledge_count < trigger.pledge_count %}
			<h2>So far...</h2>

			<div class="meta-stat">
				<div class="num">{{trigger.total_pledged|currency}}</div>
				<div class="lbl">committed</div>
			</div>

			<div class="meta-stat">
				<div class="num">{{trigger.pledge_count}}</div>
				<div class="lbl">donor{{trigger.pledge_count|pluralize}} {% if trigger.pledge_count == 0 %}&mdash; be the first!{% endif %}</div>
			</div>

			<p>Contributions will only be made once the {{trigger.strings.action_noun}} occurs.</p>

			{% if trigger.status|stringformat:'s' == 'TriggerStatus.Vacated' %}
				<p class="text-danger">Pledges were vacated.</p>
			{% endif %}

			<p>This action was posted on {{trigger.created|date}}.</p>

		{% else %}
			<h2>Summary</h2>

			<div class="meta-stat">
				<div class="num">{{execution.total_contributions|currency}}</div>
				<div class="lbl">total contributed</div>
			</div>

			<div class="meta-stat">
				<div class="num">{{execution.pledge_count_with_contribs}}</div>
				<div class="lbl">donor{{execution.pledge_count_with_contribs|pluralize}}</div>
			</div>

			<hr>

			<div class="meta-stat lesser">
				<div class="num">{{avg_pledge|currency}}</div>
				<div class="lbl">average contribution per donor</div>
			</div>

			<hr>

			<div class="meta-stat lesser">
				<div class="num">{{num_recips}}</div>
				<div class="lbl">recipient{{num_recips|pluralize}}</div>
			</div>

			<div class="meta-stat lesser">
				<div class="num">{{avg_contrib|currency}}</div>
				<div class="lbl">average contribution to each recipient by each donor</div>
			</div>

		{% endif %}
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/ext/jquery.payment.js"> </script>
<script>
	$(function() {
		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Open' %}
			pledge_init();
		{% endif %}
		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Executed' %}
		  if (the_page && the_page.pledge_made) {
		    $('#my-pledge').html(the_page.pledge_made);
		  }
		{% endif %}
	})
</script>
{% endblock %}
