{% extends "master.html" %}
{% load itfsite_utils %}
{% load static from staticfiles %}

{% block title %}{{T.title}}{% endblock %}

{% block head %}
<meta property="og:title" content="{{T.title}} (if.then.fund)" />
<meta property="og:description" content="Reshape Congress by making a contribution based on how {{trigger.trigger_type.strings.actors}} {{trigger.trigger_type.strings.action_vb_inf}}.">
<meta property="og:image" content="{{ROOT_URL}}static/branding/icons/favicon-192x192.png" /> {# for Twitter summary card, min size 120x120 and < 1MB #}
<meta name="twitter:card" content="summary" />

<style>
@media screen and (min-width: 768px) {
	#trigger-metadata {
		padding-top: 86px;
		background-color: #F7F7F7;
		font-size: 90%;
		line-height: 133%;
	}
}

.meta-stat {
  margin: 0 0 2em 0;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}
  .meta-stat .num {
  	margin-bottom: 8px;
	font-size: 36px;
  	color: #444;
  }
  .meta-stat .lbl {
	color: #444;
  }
  .meta-stat.lesser .num {
	font-size: 30px;
  }

#my-pledge {
	margin: 1.5em 0 2em 0;
}

#trigger-metadata .panel-body {
	line-height: 130%;
	font-size: 88%;
}
</style>
{% endblock %}

{% block body %}

{% if tcust %}
<div class="visible-xs-block row">
	<a href="{{tcust.owner.get_absolute_url}}">
		<div class="organization-banner" style="background-image: url({{tcust.owner.get_absolute_url}}/_banner?width=768); margin: -20px 0 2em 0">
			<div>
				{{tcust.owner.name}}
			</div>
		</div>
	</a>
</div>
{% endif %}

<div id="page-fixed-header">
	{{T.title}}
</div>

<div class="row">
	<div class="col-sm-8">
		{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' %}
			<div class="overline">Take Action</div>
		{% else %}
			<div class="overline">What Happened</div>
		{% endif %}

		<h1>{{T.title}}</h1>

		{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' or not trigger.execution.description %}
			{{T.description|render_text:T.description_format}}
			<hr style="margin: .5em 0; border-color: #DDD;">
			{{trigger.execution_note|render_text:trigger.execution_note_format}}
		{% else %}
			{{trigger.execution.description|render_text:trigger.execution.description_format}}
		{% endif %}

		{% if trigger.extra.type == "usbill" and trigger.status|stringformat:'s' != 'TriggerStatus.Executed' %}
			<p class="text-muted small">More info on this {{trigger.extra.bill_info.noun}} can be found on <a href="{{trigger.extra.bill_info.link}}">GovTrack</a>.</p>
		{% endif %}


		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Draft' %}
			<p>This page is in draft status. That means it is currently being prepared. Contributions may be accepted soon.</p>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Open' %}
			{% include "contrib/pledge-form.html" %}

			{% if campaigns|length > 0 %}
				<hr>
				<h3>{% if tcust %}Other c{% else %}C{% endif %}ampaigns around this {{trigger.trigger_type.strings.action_noun}}</h3>
				<ul>
				{% for triggercustomization in campaigns %}
					<li style="margin-top: .5em"><a href="{{triggercustomization.get_absolute_url}}">{{triggercustomization.owner.name}}: {{triggercustomization.title}}</a></li>
				{% endfor %}
				</ul>
			{% endif %}

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Paused' %}
			<h2>Take action</h2>
			<p>This action is paused. We may be about to convert the pledges into campaign contributions or we may be researching whether the {{trigger.trigger_type.strings.action_noun}} occurred.</p>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Vacated' %}
			<h2>Closed</h2>
			<p>This action has been cancelled. We determined that the {{trigger.trigger_type.strings.action_noun}} will likely never occur and have vacated all of the pledges.</p>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Executed' and not execution %}
			{# The event ocurred and we are now in the process of making campaign contributions. But we can keep accepting pledges, just as in the Open state #}

			{% if trigger.pledge_count > 0 %}
			<p class="text-success" style="margin-top: 1em">We are processing the scheduled contributions made by <span class='site-brand'>if.then.fund</span> users. Check back soon to see the full breakdown of what happened.</p>
			{% endif %}

			{% include "contrib/pledge-form.html" %}

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Executed' %}
			{% include "contrib/pledge-form.html" with hidemypledge=1 %}

			<h2>Contributions</h2>

			{% if trigger.pledge_count > trigger.execution.pledge_count %}
				<p class="text-danger">The {{trigger.trigger_type.strings.action_noun}} ocurred, and we are still in the process of making campaign contributions. The counts below are preliminary.</p>
			{% endif %}
			
			<p>{{total_pledges}} donor{{total_pledges|pluralize}} made contributions totalling {{total_contribs|currency}}.</p>

			<div id="my-pledge">
			</div>

			{% if total_pledges > 0 %}

			<h3>Totals</h3>

			<div class="row">
				<div class="col-sm-6">
					<table class="table" style="width: auto">
					<thead><tr><th colspan="2">By Desired {{trigger.trigger_type.strings.action_vb_inf|capfirst}}</th></tr></thead>
					{% for outcome in outcome_totals %}
						<tr>
							<th>{{outcome.label}}:</th>
							<td>{{outcome.contribs|currency}}</td>
						</tr>
					{% endfor %}
					<tr style="color: #333; background-color: #F5F5F5">
						<th>Total</th>
						<td style="font-weight: bold">{{total_contribs|currency}}</td>
					</tr>
					</table>
				</div>
				<div class="col-sm-6">
					<table class="table" style="width: auto">
					<thead><tr><th colspan="2">By Recipient Type</th></tr></thead>
					{% for row in by_incumb_chlngr %}
						<tr class="{{row.2}}">
							<th>{{row.0}}:</th>
							<td>{{row.1|currency}}</td>
						</tr>
					{% endfor %}
					<tr style="color: #333; background-color: #F5F5F5">
						<th>Total</th>
						<td style="font-weight: bold">{{total_contribs|currency}}</td>
					</tr>
					</table>
				</div>
			</div>

			<div id="contribs-by-recipient">
				<h3>{{trigger.trigger_type.strings.actors|capfirst}}</h3>

				<p style="margin-top: 1em">The table below shows how each {{trigger.trigger_type.strings.actor}} {{trigger.trigger_type.strings.action_vb_past}} and the amount of contributions that went to them or their next general election opponent.</p>

				<table class="table" style="width: auto">
				<thead>
					<tr>
						<th>Candidate</th>
						<th>{{trigger.trigger_type.strings.action_noun|capfirst}}</th>
						<th>Contributions<br>To Them</th>
						<th>Contributions<br>To Opponent</th>
					</tr>
				</thead>
				<tbody>
				{% for row in actions %}
					<tr>
						<td>{{row.action.name_long}}</td>
						<td {% if not row.action.has_outcome %}colspan="3" style="font-style: italic"{% endif %}>
							{{row.action.outcome_label}}
						</td>
						{% if row.action.has_outcome %}
						<td class="{% if row.total_for %}text-success{% else %}text-muted{% endif %}">{{row.total_for|currency}}</td>
						<td class="{% if row.total_against %}text-danger{% else %}text-muted{% endif %}">{{row.total_against|currency}}</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
				</table>
			</div>

			{% endif %}

		{% endif %}
	</div>

	<div id="trigger-metadata" class="col-sm-4">
		{% if tcust %}
			<div class="hidden-xs">
			<p>This page was created by...</p>
			<a href="{{tcust.owner.get_absolute_url}}">
				<div class="organization-banner" style="background-image: url({{tcust.owner.get_absolute_url}}/_banner?width=350); margin-bottom: 1em">
					<div>
						{{tcust.owner.name}}
					</div>
				</div>
			</a>
			</div>
		{% endif %}

		{% if not execution %}
			{% if T_pre == T %}
				<h2>So far...</h2>
			{% else %}
				<hr>
				<h2>{{T_pre.title}}</h2>
				<p style="margin-bottom: 2em;">Here is how all <span class="site-brand">if.then.fund</span> users have acted on <a href="{{T_pre.get_absolute_url}}">this {{trigger.trigger_type.strings.action_noun}}</a> so far:</p>
			{% endif %}

			<div class="meta-stat">
				<div class="num">{{T_pre.total_pledged|currency}}</div>
				<div class="lbl">committed</div>
			</div>

			<div class="meta-stat">
				<div class="num">{{T_pre.pledge_count}}</div>
				<div class="lbl">donor{{T_pre.pledge_count|pluralize}} {% if T_pre.pledge_count == 0 %}&mdash; be the first!{% endif %}</div>
			</div>

			{% if T_pre != T %}
			<p>Federal law prevents us from showing what {{T.owner.name}}&rsquo;s totals are prior to the {{trigger.trigger_type.strings.action_noun}}.</p>
			{% endif %}

			{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' %}
			<p>Contributions will only be made once the {{trigger.trigger_type.strings.action_noun}} occurs.</p>
			{% endif %}

			{% if trigger.status|stringformat:'s' == 'TriggerStatus.Vacated' %}
				<p class="text-danger">Pledges were vacated.</p>
			{% endif %}

		{% else %}
			<h2>Summary</h2>

			{% if trigger.pledge_count > trigger.execution.pledge_count %}
				<p class="text-danger">The counts below are preliminary.</p>
			{% endif %}

			<div class="meta-stat">
				<div class="num">{{total_contribs|currency}}</div>
				<div class="lbl">total contributed</div>
			</div>

			<div class="meta-stat">
				<div class="num">{{total_pledges}}</div>
				<div class="lbl">donor{{total_pledges|pluralize}}</div>
			</div>

			<hr>

			<div class="meta-stat lesser">
				<div class="num">{{avg_pledge|currency}}</div>
				<div class="lbl">average contribution per donor</div>
			</div>

			<hr>

			<div class="meta-stat lesser">
				<div class="num">{{num_recips}}</div>
				<div class="lbl">recipient{{num_recips|pluralize}}</div>
			</div>

			<div class="meta-stat lesser">
				<div class="num">{{avg_contrib|currency}}</div>
				<div class="lbl">average contribution to each recipient by each donor</div>
			</div>
		{% endif %}

		<hr>
		<small>
			<p>This page was added to <span class="site-brand">if.then.fund</span> on {{T.created|date}}.</p>
			{% if trigger.execution %}<p>The {{trigger.trigger_type.strings.action_noun}} occurred on {{trigger.execution.action_time|date}}. Contributions began to be processed on {{trigger.execution.created|date}}.</p>{% endif %}
			{% if execution %}<p>The most recent contribution was processed on {{trigger.execution.most_recent_pledge_execution.created|date}}.</p>{% endif %}

		</small>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/ext/jquery.payment.js" %}"> </script>
<script>
	$(function() {
		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Open' or trigger.status|stringformat:'s' == 'TriggerStatus.Executed' %}
			pledge_init();
		{% endif %}
	})
</script>
{% endblock %}
