{% extends "master.html" %}
{% load itfsite_utils humanize %}
{% load static from staticfiles %}

{% block title %}{{T.title}}{% endblock %}

{% block head %}
<meta property="og:title" content="{{T.title}} (if.then.fund)" />
<meta property="og:description" content="Reshape Congress by making a contribution based on how {{trigger.trigger_type.strings.actors}} {{trigger.trigger_type.strings.action_vb_inf}}.">
<meta property="og:image" content="{{ROOT_URL}}/static/branding/icons/favicon-192x192.png" /> {# for Twitter summary card, min size 120x120 and < 1MB #}
<meta name="twitter:card" content="summary" />

<style>
@media screen and (min-width: 768px) {
	#trigger-metadata {
		padding-top: .5em;
		background-color: #F7F7F7;
		font-size: 90%;
		line-height: 133%;
	}
}

#stats {
	margin-top: 1.5em;
}

.meta-stat {
  margin: 0 0 1em 0;
  font-family: 'Roboto Slab', serif;
}
  #stats .meta-stat {
  	padding: 5px 7px;
  	border-top: 1px solid #ddd;
  	border-bottom: 1px solid #ddd;
  	line-height: 130%;
  }
  #trigger-metadata .meta-stat {
  	font-size: 150%;
  }
  .meta-stat .num {
  	color: #444;
	font-weight: bold;
  }
	  #trigger-metadata .meta-stat .num {
	  	margin-bottom: .33em;
	  }
  .meta-stat .lbl {
	color: #444;
	font-size: 88%;
  }
  .meta-stat.lesser .num {
  }

h1 {
	margin: .75em 0;
}

#my-pledge {
	margin: 1.5em 0 2em 0;
}

#trigger-metadata .panel-body {
	line-height: 130%;
	font-size: 88%;
}

#contribs-by-recipient table th, #contribs-by-recipient table td {
	font-size: 90%;
}
</style>
{% endblock %}

{% block body %}

{% if tcust %}
<div class="row">
	<a href="{{tcust.owner.get_absolute_url}}">
		<div class="organization-banner" style="background-image: url({{tcust.owner.banner_image_url}}?width=768); margin: -20px 0 25px 0; padding: 70px 15px 30px 15px;">
			{{tcust.owner.name}}
		</div>
	</a>
</div>
{% endif %}

<div id="page-fixed-header">
	{{T.title}}
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="overline">{{T.trigger_type.title}}</div>
		<h1>{{T.title}}</h1>

		{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' or not trigger.execution.description %}
			{{T.subhead|render_text:T.subhead_format}}
		{% else %}
			{{trigger.execution.description|render_text:trigger.execution.description_format}}
		{% endif %}

		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Draft' %}
			<p>This page is in draft status. That means it is currently being prepared. Contributions may be accepted soon.</p>

		{% elif not execution %}

			{% if trigger.status|stringformat:'s' == 'TriggerStatus.Open' %}
				{% include "contrib/pledge-form.html" %}

				{% if campaigns|length > 0 %}
					<hr>
					<h3>{% if tcust %}Other c{% else %}C{% endif %}ampaigns around this {{trigger.trigger_type.strings.action_noun}}</h3>
					<ul>
					{% for triggercustomization in campaigns %}
						<li style="margin-top: .5em"><a href="{{triggercustomization.get_absolute_url}}">{{triggercustomization.owner.name}}: {{triggercustomization.title}}</a></li>
					{% endfor %}
					</ul>
				{% endif %}

			{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Paused' %}
				<h2>Take action</h2>
				<p>This action is paused. We may be about to convert the pledges into campaign contributions or we may be researching whether the {{trigger.trigger_type.strings.action_noun}} occurred.</p>

			{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Vacated' %}
				<h2>Closed</h2>
				<p>This action has been cancelled. We determined that the {{trigger.trigger_type.strings.action_noun}} will likely never occur and have vacated all of the pledges.</p>

			{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Executed' and not execution %}
				{# The event ocurred and we are now in the process of making campaign contributions. But we can keep accepting pledges, just as in the Open state #}

				{% if trigger.pledge_count > 0 %}
				<p class="text-success" style="margin-top: 1em">We are processing the scheduled contributions made by <span class='site-brand'>if.then.fund</span> users. Check back soon to see the full breakdown of what happened.</p>
				{% endif %}

				{% include "contrib/pledge-form.html" %}

			{% endif %}

			<div id="stats" class="row hide-during-pledge">
				{% if T_pre != T %}
					<div class="col-xs-12">
						<hr>
						<p style="margin-bottom: 2em;">Here is how all <span class="site-brand">if.then.fund</span> users have acted on this {{trigger.trigger_type.strings.action_noun}}, <a href="{{T_pre.get_absolute_url}}">{{T_pre.title}}</a>, so far:</p>
					</div>
				{% endif %}
				<div class="col-xs-4 col-sm-4 col-lg-3">
					<div class="meta-stat">
						<div class="num">{{T_pre.total_pledged|currency}}</div>
						<div class="lbl">committed so far</div>
					</div>
				</div>
	
				<div class="col-xs-4 col-sm-4 col-lg-3">
					<div class="meta-stat">
						<div class="num">{{T_pre.pledge_count|intcomma}}</div>
						<div class="lbl">donor{{T_pre.pledge_count|pluralize}} {% if T_pre.pledge_count == 0 %}&mdash; be the first!{% endif %}</div>
					</div>
				</div>
				{% if T_pre != T %}
					<div class="col-xs-12">
						<p>Federal law prevents us from showing what {{T.owner.name}}&rsquo;s totals are prior to the {{trigger.trigger_type.strings.action_noun}}.</p>
					</div>
				{% endif %}
			</div>

			<div class="hide-during-pledge" style="padding-top: 2em;">
			    <small>
			    <hr>
			    {% if not tcust %} {# the 'we' is confusing on a customized page #}
			    <p>We aim to shift the balance of power to shape Congress away from concentrated wealth and toward small-dollar donors like you.</p>
			    {% endif %}
			    <p>You will be making a campaign contribution to {{trigger.trigger_type.strings.actors}} or their next opponent. Until the 
				{{trigger.trigger_type.strings.action_noun}} occurs, <span class="site-brand">if.then.fund</span> won't reveal to anyone what action you
				took. After the {{trigger.trigger_type.strings.action_noun}}, we’ll charge your card and split your contribution based on your
				instructions. More on <a href="/about/how-it-works">how it works</a>.</p>
			    </small>
			</div>

		{% elif trigger.status|stringformat:'s' == 'TriggerStatus.Executed' %}

			{% if trigger.pledge_count > trigger.execution.pledge_count %}
				<p class="text-danger">The {{trigger.trigger_type.strings.action_noun}} ocurred, and we are still in the process of making campaign contributions. The counts below are preliminary.</p>
			{% endif %}

			<div id="stats" class="row">
				{% for outcome in outcome_totals %}
					<div class="col-xs-4 col-sm-4 col-lg-3">
						<div class="meta-stat">
							<div class="num">{{outcome.contribs|currency}}</div>
							<div class="lbl">{{outcome.label}}</div>
						</div>
					</div>
				{% endfor %}
				<div class="col-xs-4 col-sm-4 col-lg-3">
					<div class="meta-stat">
						<div class="num">{{total_contribs|currency}}</div>
						<div class="lbl">Total Contributed</div>
					</div>
				</div>

				<div class="col-xs-4 col-sm-4 col-lg-3">
					<div class="meta-stat">
						<div class="num">{{total_pledges|intcomma}}</div>
						<div class="lbl">Donor{{total_pledges|pluralize}}</div>
					</div>
				</div>

				{% comment %}
				<div class="col-xs-4 col-sm-4 col-lg-3">

					<div class="meta-stat lesser">
						<div class="num">{{avg_pledge|currency}}</div>
						<div class="lbl">average contribution per donor</div>
					</div>

				</div>
				<div class="col-xs-4 col-sm-4 col-lg-3">

					<div class="meta-stat lesser">
						<div class="num">{{avg_contrib|currency}}</div>
						<div class="lbl">average contribution to each recipient by each donor</div>
					</div>
				</div>
				{% endcomment %}
			</div>
			

			{% include "contrib/pledge-form.html" %}

			<div class="hide-during-pledge" style="margin: 1em 0 2em 0;">
			    <p>You will be making a campaign contribution to {{trigger.trigger_type.strings.actors}} or their next opponent based on the outcome of the 
				{{trigger.trigger_type.strings.action_noun}}. We will split your contribution based on your instructions. More on <a href="/about/how-it-works">how it works</a>.</p>
			    <hr/>
			  </div>
			
			{% if total_pledges > 0 %}

			<p class="hide-during-pledge">{{total_pledges}} donor{{total_pledges|pluralize}} made contributions totalling {{total_contribs|currency}}, with {% for row in by_incumb_chlngr %}{% if forloop.first %} {% elif forloop.last %} and {% else %}, {% endif %}{{row.1|currency}} going to {{row.2}} {{row.0}}{{row.2|pluralize}}{% endfor %}. <a href="#" onclick="$('#contribs-by-recipient').modal(); return false;">Show Details</a>.

			<div id="contribs-by-recipient" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contribs-by-recipient-title" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="contribs-by-recipient-title">Contributions by {{trigger.trigger_type.strings.actors|capfirst}}</h4>
			      </div>
			      <div class="modal-body">

				<p style="margin-top: 1em">The table below shows how each {{trigger.trigger_type.strings.actor}} {{trigger.trigger_type.strings.action_vb_past}} and the amount of contributions that went to them or their next general election opponent. There were {{num_recips|intcomma}} recipient{{num_recips|pluralize}} of contributions, counting both {{trigger.trigger_type.strings.actors}} and their opponents.</p>

				<div class="table-responsive" style="max-height: 375px; overflow-y: auto;">
				<table class="table" style="width: auto">
				<thead>
					<tr>
						<th>Candidate</th>
						<th>{{trigger.trigger_type.strings.action_noun|capfirst}}</th>
						<th>Contributions<br>To Them</th>
						<th>Contributions<br>To Opponent</th>
					</tr>
				</thead>
				<tbody>
				{% for row in actions %}
					<tr>
						<td>{{row.action.name_long}}</td>
						<td {% if not row.action.has_outcome %}colspan="3" style="font-style: italic"{% endif %}>
							{{row.action.outcome_label}}
						</td>
						{% if row.action.has_outcome %}
						<td class="{% if row.total_for %}text-success{% else %}text-muted{% endif %}">{{row.total_for|currency}}</td>
						<td class="{% if row.total_against %}text-danger{% else %}text-muted{% endif %}">{{row.total_against|currency}}</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
				</table>
				</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			{% endif %}

		{% endif %}

	</div>

	<div id="trigger-metadata" class="col-sm-4">
		<h2>About this {{trigger.trigger_type.strings.action_noun}}</h2>
		{{T.description|render_text:T.description_format}}
		{% if trigger.extra.type == "usbill" and trigger.status|stringformat:'s' != 'TriggerStatus.Executed' and 0 %}
			<p class="text-muted small">More info on this {{trigger.extra.bill_info.noun}} can be found on <a href="{{trigger.extra.bill_info.link}}">GovTrack</a>.</p>
		{% endif %}

		{% if trigger.status|stringformat:'s' != 'TriggerStatus.Executed' or not trigger.execution.description %}
			<hr style="margin: .5em 0; border-color: #DDD;">
			{% if trigger.execution_note %}
				{{trigger.execution_note|render_text:trigger.execution_note_format}}
			{% else %}
				<p>Contributions will only be made once the {{trigger.trigger_type.strings.action_noun}} occurs.</p>
			{% endif %}
		{% endif %}

		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Vacated' %}
			<p class="text-danger">Pledges were vacated.</p>
		{% endif %}

		<hr>
		<small>
			<p>This page was added to <span class="site-brand">if.then.fund</span> {% if tcust %}by <a href="{{tcust.owner.get_absolute_url}}">{{tcust.owner.name}}</a>{% endif %} on {{T.created|date}}.</p>
			{% if trigger.execution %}<p>The {{trigger.trigger_type.strings.action_noun}} occurred on {{trigger.execution.action_time|date}}. Contributions began to be processed on {{trigger.execution.created|date}}.</p>{% endif %}
			{% if execution %}<p>The most recent contribution was processed on {{trigger.execution.most_recent_pledge_execution.created|date}}.</p>{% endif %}

			<p id="show_utm_tool" style="display: none;"><a href="#" onclick="$('#utm_tool').slideToggle(); utm_tool(); return false;" style="border: none">Create a link...</a></p>
			<div id="utm_tool" style="display: none">
				<div class="row">
					<div class="col-xs-6">
						<div><label for="utm_tool_campaign">Campaign code:</label></div>
						<div><input id="utm_tool_campaign" type="text" onkeyup="utm_tool()" onchange="utm_tool()" style="width: 100%"></div>
					</div>
					<div class="col-xs-6">
						<div><label for="utm_tool_short"><input id="utm_tool_short" type="checkbox" checked onchange="utm_tool()"> Short URL</label></div>
					</div>
				</div>
				<div style="margin-top: .5em"><input id="utm_tool_link" type="text" value="" style="width: 100%" readonly></div>
			</div>
		</small>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/ext/jquery.payment.js" %}"> </script>
<script>
	$(function() {
		{% if trigger.status|stringformat:'s' == 'TriggerStatus.Open' or trigger.status|stringformat:'s' == 'TriggerStatus.Executed' %}
			pledge_init();
		{% endif %}

		if (the_page && the_page.show_utm_tool)
			$('#show_utm_tool').show();

		$('#contribs-by-recipient .table-responsive').css({ maxHeight: ($(window).height()-250) * .75 })
	})

	function utm_tool() {
		var url = ($('#utm_tool_short').prop('checked') ? "{{T.get_short_url|escapejs}}" : "{{ROOT_URL}}{{T.get_absolute_url|escapejs}}")
		var campaign_code = $('#utm_tool_campaign').val();
		campaign_code = campaign_code.replace(/^\s+|\s+$/g, '');
		if (campaign_code)
			url += "?utm_campaign=" + encodeURIComponent(campaign_code);
		$('#utm_tool_link').val(url)
	}
</script>
{% endblock %}
