{% load itfsite_utils %}

<style>
#letter-preview-wrapper {
	margin-bottom: 2em;
}

#letter-preview {
	border: 1px solid rgba(0,0,0, .75);
	background-color: #574;
	padding: 1em;
	color: white;
	font-weight: bold;
}

#letter-preview .boilerplate {
	color: #EEE;
	font-weight: normal;
}

@media screen and (min-width: 992px) {
	#letter-preview-wrapper {
		margin-top: -1em;
		margin-left: 2em;
	}
}
</style>

<div>

<h2>Write a letter</h2>

<div id="write-letter-form-row" class="row">
	<div class="col-md-push-6 col-md-6">
		<p class="visible-xs">Please send a letter to Congress about this issue:</p>

		<div id="letter-preview-wrapper">
			<ul id="letter-preview-tabs" class="nav nav-tabs hidden hidden-xs hidden-sm">
			</ul>
			<div id="letter-preview">
				<div id="letter-preview-template">
					<p class="boilerplate">Dear <span class="name">{{letters_campaign.sample_honorific}}</span>,</p>
					<p class="subject"> </p>
					<div class="body">{{letters_campaign.message_body|render_text:'TextFormat.Markdown'}}</div>
					<p class="boilerplate">Sincerely,
					<br>[your name]</p>
				</div>
				<div class="tab-content hidden-xs hidden-sm">
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-pull-6 col-md-6">
		<form id="write-letter-form" onsubmit="return false;">
			<input type="hidden" name="campaign" value="{{letters_campaign.id}}"/>
			<input type="hidden" name="via_campaign" value="{{campaign.id}}"/>
		    <input type="hidden" name="ref_code" value="{{request.GET.utm_campaign}}"/>

			<p style="margin-bottom: 1em">Let&rsquo;s find out who
				{% if letters_campaign.target_representatives and letters_campaign.target_senators %}
					represents you in Congress.
				{% elif letters_campaign.target_representatives %}
					your representative in Congress is.
				{% elif letters_campaign.target_senators %}
					your senators in Congress are.
				{% endif %}
			</p>

			<p>What is your mailing address where you vote?</p>

			<div class="form-group">
				{# <label for="lettersAddrAddress">Address  <span class="tip">(where you vote)</span></label> #}
				<input type="text" class="form-control" id="lettersAddrAddress" name="addrAddress" placeholder="123 Your Location St.">
			</div>
			<div class="row">
				<div class="col-sm-5 col-md-6">
				  <div class="form-group">
					{# <label for="lettersAddrCity">City</label> #}
					<input type="text" class="form-control" id="lettersAddrCity" name="addrCity" placeholder="Everytown">
				  </div>
				</div>
				<div class="col-sm-3 col-md-2">
				  <div class="form-group">
					{# <label for="lettersAddrState">State</label> #}
					<select class="form-control" id="lettersAddrState" name="addrState" size="1" style="padding-left: 2px; padding-right: 0;">
						<option></option>
						{% for state in state_abbrs %}<option>{{state}}</option>{% endfor %}
					</select>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					{# <label for="lettersAddrZip">ZIP</label> #}
					<input type="text" class="form-control" id="lettersAddrZip" name="addrZip" placeholder="12345" maxlength="10">
				  </div>
				</div>
			</div>

			<p>Are you registered to vote? We&rsquo;ll use this to tailor your letter.</p>

			<div class="form-group">
				<select class="form-control" id="lettersVoterRegistration" name="voterRegistration" size="1">
					<option value="">(please choose)</option>
					{% for label, value in voter_registration_options %}
					<option value="{{value}}">{{label}}</option>
					{% endfor %}
				</select>
			</div>

			<button id="write-letter-find-reps" class="btn btn-primary" onclick="write_letter_find_reps()">Next &raquo;</button>

			<div id="letters-stage-two" style="display: none">

				<p>Here is what we know about where your
					{% if letters_campaign.target_representatives and letters_campaign.target_senators %}
						representative and senators
					{% elif letters_campaign.target_representatives %}
						representative
					{% elif letters_campaign.target_senators %}
						senators
					{% endif %}
				are on this issue.</p>

				<table id="letters-my-reps" class="table">
					<tbody>
					</tbody>
				</table>

				<p>Your legislators require that we provide your name, address, and the fields below with your message. Please complete the form:</p>

				<div class="form-group">
					<label for="lettersEmail">Email Address</label>
					<input type="email" class="form-control" id="lettersEmail" name="email" placeholder="email address">
				</div>
				<label for="namePrefix">Name</label>
				<div class="row">
					<div class="col-sm-3 col-lg-2">
					  <div class="form-group">
						{# <label for="lettersNamePrefix">Title</label> #}
						<select class="form-control" id="lettersNamePrefix" name="namePrefix" style="padding-left: 2px; padding-right: 0;">
							{# filled in once we know possible options #}
						</select>
					  </div>
					</div>
					<div class="col-sm-4 col-lg-5">
					  <div class="form-group">
						{# <label for="lettersNameFirst">First Name</label> #}
						<input type="text" class="form-control" id="lettersNameFirst" name="nameFirst" placeholder="first name">
					  </div>
					</div>
					<div class="col-sm-5">
					  <div class="form-group">
						{# <label for="lettersNameLast">Last Name</label> #}
						<input type="text" class="form-control" id="lettersNameLast" name="nameLast" placeholder="last name">
					  </div>
					</div>
				</div>
				<div id="letter-phone-field" class="form-group">
					<label for="lettersPhone">Phone Number <span class="tip">(required by some congressional offices)</span></label>
					<input type="tel" class="form-control" id="lettersPhone" name="phone" placeholder="555-555-1234">
				</div>
				<div id="letter-additional-fields">
				</div>

				<div id="letter-vv-email-confirm-code" style="display: none">
					<p class="text-danger">We&rsquo;ve sent you an email. <strong>KEEP THIS PAGE OPEN.</strong> The email will contain a code to verify your email address. When you receive that code, type it in here and then continue:</p>
					<input type="hidden" name="vv-email-confirm-email">
					<input type="hidden" name="vv-email-confirm-verif-id">
					<div class="form-group">
						<label for="lettersVvEmailConfirmCode">Email verification code</label>
						<input type="text" class="form-control" id="lettersVvEmailConfirmCode" name="vv-email-confirm-verif-code" placeholder="1234">
					</div>
				</div>

				<button id="write-letter-preview" type="submit" class="btn btn-default visible-xs-inline visible-sm-inline" onclick="letters_preview_letters()">Preview</button>
				<button id="write-letter-submit" type="submit" class="btn btn-primary" onclick="write_letter_submit()">Send Letter</button>
			</div>

		</form>

	</div>
</div>

<div id="write-letter-submitted" class="hidden">
	<p>Thanks! Your letter to <span></span> will be sent.</p>
	{% if trigger %}
		<p>Now for an even bigger impact, make a campaign contribution to show you really care.</p>
	{% endif %}
</div>

</div>

<div id="letters_preview_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="letters_preview_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="letters_preview_modal_title">Preview Letters</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<script>
function ajax_submit(options) {
	var old_success = options.success;
	options.success = function(res) {
		if (res.error) {
			// add .has-error to the indicated field
			var field = null;
			if (res.field) {
				field = $('form *[name="' + res.field + '"]');
				field.parent('.form-group').addClass("has-error");
			}

			// show error modal, then re-enable fields
			show_modal_error("Error", res.error, function() {
				if (options.fields) options.fields.prop('disabled', false);
				if (old_error) old_error();
				if (field) field.focus();
			})
			return;
		}

		if (options.fields) options.fields.prop('disabled', false);
		if (old_success) old_success(res);
	};

	var old_error = options.error;
	options.error = function(res) {
		show_modal_error("Error", "Something went wrong, sorry!", function() {
			if (options.fields) options.fields.prop('disabled', false);
			if (old_error) old_error();
		})
	};

	//

	$('.form-group').removeClass('has-error');
	if (options.fields) options.fields.prop('disabled', true);

	ajax_with_indicator(options);
}

function letters_init() {
	if (the_page && the_page.letter_defaults && the_page.letter_defaults.profile) {
		$('#lettersAddrAddress').val(the_page.letter_defaults.profile.address.addrAddress)
		$('#lettersAddrCity').val(the_page.letter_defaults.profile.address.addrCity)
		$('#lettersAddrState').val(the_page.letter_defaults.profile.address.addrState)
		$('#lettersAddrZip').val(the_page.letter_defaults.profile.address.addrZip)
		$('#lettersEmail').val(the_page.letter_defaults.email)
		$('#lettersNamePrefix').attr('initial-value', the_page.letter_defaults.profile.name.namePrefix);
		$('#lettersNameFirst').val(the_page.letter_defaults.profile.name.nameFirst)
		$('#lettersNameLast').val(the_page.letter_defaults.profile.name.nameLast)
		$('#lettersPhone').val(the_page.letter_defaults.profile.name.phone)
		$('#lettersVoterRegistration').val(the_page.letter_defaults.profile.voterRegistration);
	}

	if (window.location.hash == "#demo") {
		$('#lettersAddrAddress').val('4604 Old Highway 91')
		$('#lettersAddrCity').val('Nephi')
		$('#lettersAddrState').val('UT')
		$('#lettersAddrZip').val('84648')
		$('#lettersEmail').val('test+0@{{SITE_DOMAIN}}');
		$('#lettersNamePrefix').attr('initial-value', 'Ms.');
		$('#lettersNameFirst').val('Jane');
		$('#lettersNameLast').val('Doe');
		$('#lettersVoterRegistration').val('Registered');
	}
}

function getRandomInt(min, max) { return Math.floor(Math.random() * (max - min + 1)) + min; }

function write_letter_find_reps() {
	ajax_submit({
		fields: $('#write-letter-form input, #write-letter-form select, #write-letter-form button'),
		url: "/letters/_ajax/find-reps",
		method: "POST",
		data: {
			campaign: {{letters_campaign.id}},
			addrAddress: $('#lettersAddrAddress').val(),
			addrCity: $('#lettersAddrCity').val(),
			addrState: $('#lettersAddrState').val(),
			addrZip: $('#lettersAddrZip').val(),
			voterRegistration: $('#lettersVoterRegistration').val()
		},
		success: function(res) {
			// disable address fields

				// can't mark a <select> as read-only? making it 'disabled' would exclude it from serializeArray().
			$('#lettersAddrAddress, #lettersAddrCity, #lettersAddrZip').prop('readonly', true);

			// update preview
			$('#letter-preview-tabs').html('').removeClass('hidden');
			for (var i = 0; i < res.my_representatives.length; i++) {
				var n = $("<li class='presentation'><a href='#' role='rab' data-toggle='tab'></a></li>");
				if (i == 0) n.addClass('active');
				n.find('a').attr('href', '#rep-preview-' + i);
				n.find('a').text(res.my_representatives[i].name);
				$('#letter-preview-tabs').append(n);

				var n = $("<div role='tabpanel' class='tab-pane'></div>");
				n.attr('id', 'rep-preview-' + i);
				if (i == 0) n.addClass('active');
				n.append($('#letter-preview-template').clone());
				n.find('.name').text(res.my_representatives[i].name);
				n.find('.subject').text(res.my_representatives[i].message_subject);
				n.find('.body').html(res.my_representatives[i].message_body_rendered);
				$('#letter-preview .tab-content').append(n);
			}
			$('#letter-preview-template').addClass('visible-xs visible-sm'); // hide on screens where tabs are shown

			// prepare dynamic fields.

			$('#lettersNamePrefix').html('<option></option>'); // clear options, add an empty option
			res.votervoice.fields.prefix_options.forEach(function(item) {
				$('#lettersNamePrefix').append($("<option/>").text(item));
			})
			$('#lettersNamePrefix').val($('#lettersNamePrefix').attr('initial-value')); // set initial value from default

			$('#letter-phone-field').hide();
			res.votervoice.fields.requiredUserFields.forEach(function(item) {
				if (item == "phone")
					$('#letter-phone-field').show();
			})

			$('#letter-additional-fields').html(''); // clear
			var qid = 0;
			function add_additional_field(question_type, question) {
				var n = $("<div class='form-group'><label></label><select class='form-control'/></div>");
				$('#letter-additional-fields').append(n);
				$('#letter-additional-fields').append($("<input type='hidden'/>")
					.attr('name', 'extra-' + qid + '-type')
					.val(question_type));
				$('#letter-additional-fields').append($("<input type='hidden'/>")
					.attr('name', 'extra-' + qid + '-id')
					.val(question.id));
				n.find('select').attr('id', 'letters-additional-field-' + qid);
				n.find('select').attr('name', 'extra-' + qid + '-value');
				n.find('label').attr('for', n.find('select').attr('id'));
				n.find('label').text(question.question);
				n.find('select').html('<option/>'); // empty option
				question.validAnswers.forEach(function(item) {
					n.find('select').append($("<option/>").text(item));
				})
				qid++;

				if (window.location.hash == "#demo") {
					// For demonstrations, pre-select a random option.
					n.find('select').val(question.validAnswers[getRandomInt(0, question.validAnswers.length-1)]);
				}
			}
			res.votervoice.fields.sharedQuestions.forEach(function(item) {
				add_additional_field("shared", item);
			})
			res.votervoice.fields.requiredQuestions.forEach(function(item) {
				add_additional_field("required", item);
			})
			

			// show fields

			$('#write-letter-find-reps').hide();
			$('#letters-stage-two').fadeIn();

			// update position table
			$('#letters-my-reps tbody').html('');
			for (var i = 0; i < res.my_representatives.length; i++) {
				var tr = $("<tr><td class='name'/><td class='position'/></tr>")
				tr.find('.name').text(res.my_representatives[i].name);
				tr.find('.position').text(res.my_representatives[i].position_text);
				$('#letters-my-reps tbody').append(tr);
			}

			// focus
			$('#lettersEmail').focus();

		},
	});
}

function letters_preview_letters() {
	// For small screens, this button appears to preview the letters.
	$('#letters_preview_modal .modal-body').html('');
	var n = $('#letter-preview-wrapper').clone();
	n.find('.visible-xs').remove();
	n.find('.hidden-xs').removeClass('hidden-xs').removeClass('hidden-sm');

	// fixup ids so they don't duplicate
	n.find('a').each(function() { $(this).attr('href', $(this).attr('href')+'_modal') })
	n.find('.tab-pane').each(function() { $(this).attr('id', $(this).attr('id')+'_modal') })

	$('#letters_preview_modal .modal-body').append(n);
	$('#letters_preview_modal').modal();
}

function write_letter_submit() {
	// Valid. Submit! Collect all of the form fields.
	var form_params = $('#write-letter-form').serializeArray();
	var data = { };
	for (var i = 0; i < form_params.length; i++)
		data[form_params[i].name] = form_params[i].value;

	ajax_submit({
		fields: $('#write-letter-form input, #write-letter-form select, #write-letter-form button'),
		url: "/letters/_ajax/write-letter",
		method: "POST",
		data: data,
		success: function(res) {
			if (res.status == "already-wrote-a-letter") {
        		show_modal_error("Error", "It looks like you have already written a letter on this subject. Please reload the page to see it.");
        		$('#write-letter-form input, #write-letter-form select, #write-letter-form button').prop('disabled', true);
			} else if (res.status == "vv-verify-email") {
				// VoterVoice sent a verification email. Show the new form fields to
				// collect the verification code.
				$('#letter-vv-email-confirm-code').slideDown();
				$('#write-letter-form input[name="vv-email-confirm-email"]').val(res.for_email);
				$('#write-letter-form input[name="vv-email-confirm-verif-id"]').val(res.verificationId);
			} else if (res.status == "needs-password") {
				// Redirect to the welcome page.
				window.location = res.redirect;
			} else if (res.status == "ok") {
				// All good. Replace the form with letter info.
				$('#write-letter-form-row').slideUp(function() { $('#write-letter-form-row').remove(); })
				$('#write-letter-submitted').find('span').text(res.sent_to);
				$('#write-letter-submitted').removeClass('hidden');
				smooth_scroll_to($('#write-a-letter'));

				{% if trigger %}
				// Get the user to also make a campaign contribution.
				$('#write-a-letter-instead').remove();
				$('#make-a-contribution-instead').remove();
				$('#make-a-contribution').removeClass('hidden');
				pledge_init();
				setPledgeDefaults({
					emailEmail: $('#lettersEmail').val(),
					contribNameFirst: $('#lettersNameFirst').val(),
					contribNameLast: $('#lettersNameLast').val(),
					contribAddress: $('#lettersAddrAddress').val(),
					contribCity: $('#lettersAddrCity').val(),
					contribState: $('#lettersAddrState').val(),
					contribZip: $('#lettersAddrZip').val()
				});
				{% endif %}
			} else {
        		show_modal_error("Error", "Something went wrong, sorry.");
        		console.log(res);
			}
		},
		error: function() {
		}
	});
}
</script>
