{% extends "admin/change_form.html" %}

{% block after_related_objects %}

{% if original.execution %}
<fieldset id="campaign-extra-info" class="module">
<div style="padding: 1em">
    <h3><a href="/admin/contrib/triggerexecution/{{original.execution.id}}" target="_blank">executed on {{original.execution.created}}</a> | <a href="/admin/contrib/triggerexecution/{{original.execution.id}}/actions" target="_blank">edit</a></h3>

    <h3>Summary</h3>
    <table style="margin-left: .5em">
    {% for item in original.execution.get_outcome_summary %}
    <tr><td>{{item.label}}</td> <td>{{item.count}}</td></tr>
    {% endfor %}
    </table>

    <h3>Actions</h3>
    <table style="margin-left: .5em">
    {% for item in original.execution.get_sorted_actions %}
        <tr>
            <td>{{item.outcome_label}}</td>
            <td><a href="/admin/contrib/action/{{item.id}}">{{item.actor}}</a></td>
            <td>{{item.action_time}}</td>
        </tr>
    {% endfor %}
    </table>

</div>
</fieldset>
{% endif %}

{% endblock %}
