<p>
  <a href="/">Home</a>
| <a href="{% url 'simplepage' 'about' %}">About</a>
| <a href="{% url 'simplepage' 'about/press' %}">Press Clips</a>
| <a href="{% url 'simplepage' 'about/legal' %}">Legal Background</a>
{# | <a href="http://ifthenfund.wordpress.com/">Blog</a> #}
| <a href="{% url 'simplepage' 'privacy' %}">Privacy</a>
| <a href="{% url 'simplepage' 'terms' %}">Terms of Service</a>
| <a href="{% url 'simplepage' 'open' %}">Open</a>
</p>

<p>Join the <a href="https://docs.google.com/forms/d/1xR81Bfxw96_VeVhAvn2EvaM8j0VhB2Lt_z9ulWEGS2I/viewform"><span class="site-brand">{{SITE_NAME}}</span> announcements</a> mail list to be alerted to new features as we launch them.</p>
