<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">if.then.fund</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="if-anonymous hidden log-inout-link"><a href="/accounts/login">Log In</a></li>
        <li class="if-logged-in hidden"><a href="/home">My Account</a></li>
        <li class="if-logged-in hidden log-inout-link"><a href="/accounts/logout">Log Out</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>