{% extends "master.html" %}
{% load bootstrap3 %}

{% block title %}Login{% endblock %}

{% block body %}

<form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}"
	style="max-width: 30em; margin-top: 2em">
	<input type="hidden" name="next" value="{{ next }}" />

    <legend>Log In</legend>

    {% if BRAND_ID != "if.then.fund" %}
		<p style="margin: 1.5em 0;"><span class="site-brand">{{SITE_NAME}}</span> is powered by <a href="https://if.then.fund"><span class="site-brand-ifthenfund">if.then.fund</span></a>.</p>
    {% endif %}

    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Log In" />
    </div>
</form>

<p style="margin: 1.5em 0;">If you do not yet have an account, you can create one as a part of <a href="/">making your first contribution</a>.</p>

{% endblock %}