{% extends "master.html" %}
{% load bootstrap %}

{% block title %}Change Password{% endblock %}

{% block body %}

<form role="form" method="post" action="{% url 'password_change' %}"
	style="max-width: 30em; margin-top: 2em">
    <legend>Change password</legend>
    {% csrf_token %}
    <p>Use this form to change your account password. Please enter your current password, the new password you want, and then enter it again to ensure you typed it correctly.</p>
    {{ form|bootstrap }}
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>

{% endblock %}