{% extends "email_template.html" %}

{% block content %}
<p>Thanks for visiting {{SITE_NAME}}. It looks like you started to make a contribution but stopped mid-way through.</p>

<p>We&rsquo;d be glad to answer any question you have about the site &mdash; just reply to this email. Our <a href="{{ROOT_URL}}/about/how-it-works">How It Works</a> page may also answer any questions you have.</p>

<p>Or if you want to finish your contribution related to {{trigger.title}}, just click <a href="{{url}}">this link</a>.</p>

<p>Thanks,</p>
{% endblock %}

{% block footer %}
<p><small>(If you take no action, this will be the last you hear from us.)</small></p>
{% endblock %}
