{% extends "email_template.html" %}

{% block body %}
<p>{{pledge.extra.contribNameFirst}},</p>

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.NoProblem' %}

<p>Your campaign contributions totalling ${{pledge.execution.charged|floatformat:2}} were made to {{pledge.targets_summary}}.</p>

<p>To see who your contributions were made to, please head over to <a href="{{pledge.trigger.get_short_url}}">your contribution</a> for further details.</p>

{% else %}

<p>Your campaign contributions to {{pledge.targets_summary}} could not be made.</p>

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.FiltersExcludedAll' %}
<p>No {% if pledge.incumb_challgr == 1 %}{{pledge.trigger.strings.actors}}{% else %}recipients{% endif %} matched your criteria.</p>
{% endif %}

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.TransactionFailed' %}
<p>There was a problem charging your credit card.</p>
{% endif %}

<p>For more information, please head over to <a href="{{pledge.trigger.get_short_url}}">your contribution</a> for further details.</p>
{% endif %}

<p>Thanks!</p>

<p>if.then.fund</p>
{% endblock %}
