{% extends "email_template.html" %}

{% block content %}
{% if pledge.is_from_long_ago %}
<p>On {{pledge.created|date}} you asked us to schedule campaign contributions depending on the outcome of a {{pledge.trigger.trigger_type.strings.action_noun}}. {{pledge.trigger.trigger_type.strings.retrospective_vp|capfirst}}, so we have now processed your contributions. Here is what happened:</p>
{% endif %}

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.NoProblem' %}
<p>Your campaign contributions totalling ${{pledge.execution.charged|floatformat:2}} were made to {{pledge.targets_summary}}.</p>

<p>To see who your contributions were made to, please head over to <a href="{{pledge.via_campaign.get_short_url}}">your contribution</a> for further details.</p>

{% if pledge.tip %}<p>We also made your ${{pledge.tip.amount|floatformat:2}} contribution to {{pledge.tip.recipient.name}}.</p>{% endif %}

{% else %}

<p>Your campaign contributions to {{pledge.targets_summary}} could not be made.</p>

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.FiltersExcludedAll' %}
<p>No {% if pledge.incumb_challgr == 1 %}{{pledge.trigger.trigger_type.strings.actors}}{% else %}recipients{% endif %} matched your criteria.</p>
{% endif %}

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.TransactionFailed' %}
<p>There was a problem charging your credit card.</p>
{% endif %}

{% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.Voided' %}
<p>You asked us to void this transaction.</p>
{% endif %}

<p>For more information, please head over to <a href="{{pledge.via_campaign.get_short_url}}">your contribution</a> for further details.</p>
{% endif %}

<p>Thanks!</p>
{% endblock %}
