a, a:hover, a:link, a:visited, a:active {
	color: #22A; /* accessibility requires high contrast */
	text-decoration: none; /* border-bottom looks better than underline */
	border-bottom: 1px solid #22A; /* accessibility requires a line */
}
	a:hover, a:active {
		color: #0A0;
		border-color: #0B0;
	}

	footer a, footer a:hover, footer a:link, footer a:visited, footer a:active {
		color: #446;
		border: none;
	}
		footer a:hover {
			border-bottom: 1px solid #225;
		}

#nav-wrap {
	background-color: white;
}

#nav-wrap {
	margin-bottom: 20px;
}
	.navbar {
		margin: 0;
		border: none;
	}
	.navbar .navbar-toggle .icon-bar {
		background-color: #888;
	}

	.navbar a {
		border: none !important;
		text-decoration: none;
		color: #446;
		font-size: 14px;
	}
		.navbar .nav a:hover {
			background-color: #EEF;
		}

		.navbar .notifications-link a {
			color: #AAA;
		}
		.navbar .notifications-link.has-new-notifications a {
			color: #BC3;
		}
	.nav>li>a:hover, .nav>li>a:focus {
		/* overriding default bootstrap theme */
		background-color: inherit;
	}

.navbar a.navbar-brand {
	margin-top: 10px;
	background: url('/static/branding/progressive.fund/navbar-title.png');
	width: 103px;
	height: 30px;
	text-indent: -99999em;
	overflow: hidden;
}
	@media screen and (min-width: 768px) {
		.navbar a.navbar-brand {
			margin-left: -5px !important;
		}
	}
	@media screen and (max-width: 767px) {
		.navbar a.navbar-brand {
			margin-left: 5px !important;
		}
	}

@media screen and (min-width: 768px) {
	#body-content {
		border-left: 1px solid #EEE;
		border-right: 1px solid #EEE;
	}
}

@media screen {
.site-brand {
	font-weight: bold;
}
}
@media print {
	.site-brand {
	}
}

#page-fixed-header {
	background: #333 url('/static/branding/progressive.fund/navbar-title.png') 10px 10px no-repeat;
	min-height: 50px;
	color: white;
}
