a, a:hover, a:link, a:visited, a:active {
	color: #4551a3; /* accessibility requires high contrast */
	text-decoration: none; /* border-bottom looks better than underline */
	border-bottom: 1px solid #4551a3; /* accessibility requires a line, color should match text color */
}
	a:hover, a:active {
		color: #656ab1;
		border-color: #656ab1;
	}

	footer a, footer a:hover, footer a:link, footer a:visited, footer a:active {
		color: #77a;
		border: none;
	}
		footer a:hover {
			border-bottom: 1px solid #77a;
		}

#nav-wrap {
	background-color: #4551a3;
	margin-bottom: 20px;
}
	.navbar {
		margin: 0;
		border: none;
	}
	.navbar .navbar-toggle .icon-bar {
		background-color: #888;
	}

	.navbar a {
		border: none !important;
		text-decoration: none;
		color: #EEF;
		font-size: 14px;
	}
		.navbar .nav a:hover {
			background-color: #349;
		}

		.navbar .notifications-link a {
			color: #AAA;
		}
		.navbar .notifications-link.has-new-notifications a {
			color: #BC3;
		}
	.nav>li>a:hover, .nav>li>a:focus {
		/* overriding default bootstrap theme */
		background-color: inherit;
	}

.navbar a.navbar-brand {
	margin-top: 10px;
	background: url('/static/branding/progressive.fund/navbar-title.png');
	width: 135px;
	height: 30px;
	text-indent: -99999em;
	overflow: hidden;
}
	@media screen and (min-width: 768px) {
		.navbar a.navbar-brand {
			margin-left: -5px !important;
		}
	}
	@media screen and (max-width: 767px) {
		.navbar a.navbar-brand {
			margin-left: 5px !important;
		}
	}

@media screen and (min-width: 768px) {
	#body-content {
		border-left: 1px solid #EEE;
		border-right: 1px solid #EEE;
	}
}

@media screen {
.site-brand {
	display: inline-block;
	background: url('/static/branding/progressive.fund/content-title.png') no-repeat;
	background-size: 100%;
	width: 6.2em;
	height: 1.5em;
	text-indent: -99999em;
	overflow: hidden;
	margin-bottom: -.3em;
	margin-left: 1px;
}
}
@media print {
	.site-brand {
		font-family: 'Times New Roman', serif;
		font-weight: bold;
	}
}

#page-fixed-header {
	background: #333 url('/static/branding/progressive.fund/navbar-title.png') 10px 10px no-repeat;
	min-height: 50px;
	color: white;
	padding-top: 17px;
	padding-left: 160px;
}
