{% extends "master.html" %}

{% block title %}Our Theory of Change{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>Our Theory of Change</h1>

<div style="max-width: 60em" class="long-text">

<p>Money affects our government. Those with money have disproportionate influence over government outcomes. <span class="site-brand">if.then.fund</span> raises the tide for small-dollar donors in four ways.</p>

<p>Not through bribery, though. Decades of research has found that campaign contributions have little effect on how a particular member of Congress votes. And, even if did have an effect, attempting to influence a vote is against the law (see our <a href="/about/legal#corruptionlaw">Legal Background</a>). However, money affects who can afford to run for Congress, who gets elected, what committees they get assigned to, and who is given access to legislators’ valuable time once they take office. These are things we can change.</p>

<p>The limits on private money in our public elections is a complex issue, hotly debated by many people. Just about the only thing on which most of them can agree is that the law is not going to level the playing field any time soon. Therefore, we have built <span class="site-brand">if.then.fund</span> to begin to level the playing field today.</p>

<p>Here’s how it creates change:</p>

</div>

<div class="row">
	<div class="col-sm-6">
		<h2>Shaping the next Congress</h2>
		<p>Your donations go toward the reelection campaign of current members of Congress when they vote the way you want, or toward their next general election opponent if they vote the other way. <span class="site-brand">if.then.fund</span> helps you “keep ’em in” or “throw ’em out” in the next election, shaping the make-up of the next Congress to be more aligned with your views.</p>
	</div>

	<div class="col-sm-6">
		<h2>Targeting real outcomes</h2>
		<p>Instead of making an aspirational donation to a candidate, campaign contributions made here on <span class="site-brand">if.then.fund</span> are based on what legislators actually do, not what they say they will do. <span class="site-brand">if.then.fund</span> routes your contributions to members of Congress who vote the way you want and to the opponents of those who do not. By being targeted, your contributions will be more effective at supporting candidates with similar views to your own.</p>
	</div>

	<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

	<div class="col-sm-6">
		<h2>Aggregating small-dollar donations</h2>
		<p>When aggregated, many small-dollar donations add up to sums to which candidates will pay attention.  If just 1% of eligible voters donated 1¢ each time Congress votes on a bill, <span class="site-brand">if.then.fund</span> users would become the largest donor in many races.</p>
	</div>

	<div class="col-sm-6">
		<h2>Reaching all members of Congress</h2>
		<p>Members of Congress are elected by their constituents, but the laws they pass impact all of us. That’s why donations on <span class="site-brand">if.then.fund</span> are split across all members of Congress (or their challengers). <span class="site-brand">if.then.fund</span> is the only way to shape the whole Congress.</p>
	</div>
</div>

{% endblock %}
