{% extends "master.html" %}

{% block title %}Our Theory of Change{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>Our Theory of Change</h1>

<div style="max-width: 60em">

<p>Decades of research has found that money has little effect on how a particular member of Congress will vote on the floor (see <a href="http://www.gmu.edu/centers/publicchoice/faculty%20pages/stratmann/vitae%20files/sometalk.pdf">Stratmann 2005</a>). Accordingly, we are not trying to bribe Congress. But money affects who can afford to run for Congress, who gets elected, and who has access to legislators once they take office (see <a href="http://stanford.edu/~jgrimmer/money.pdf">Powell &amp; Grimmer 2014</a>). </p>

<p>Campaign finance reform is a long-term strategy. In the meanwhile, we hope to raise the tide of small-donor supporters and shift the balance of power away from concentrated wealth.</p>

<p>Here&rsquo;s why we think this works:</p>

</div>

<div class="row">
	<div class="col-sm-6">
		<h2>Targeting real outcomes</h2>
		<p>Campaign contributions made here on if.then.fund are based on what legislators do, not what they say they will do.</p>
		<p>After a vote, we&rsquo;ll tell members of Congress why you made your contribution.</p>
	</div>

	<div class="col-sm-6">
		<h2>Shaping the next Congress</h2>
		<p>Keep &rsquo;em in or throw &rsquo;em out. Donations can be made to incumbents who support your position or to their next general election challenger if they vote the other way.</p>
	</div>

	<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>

	<div class="col-sm-6">
		<h2>Aggregating small-dollar donations</h2>
		<p>When aggregated together, many small-dollar donations (even down to 1¢) can ap up to something candidates will pay attention to.</p>
	</div>

	<div class="col-sm-6">
		<h2>Reaching all members of Congress</h2>
		<p>Members of Congress may only be accountable to their constituents, but committee chairs and party leaders make policy for us all. if.then.fund lets you shape the whole Congress.</p>
	</div>
</div>

{% endblock %}
