{% extends "master.html" %}

{% block title %}How It Works{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1>How It Works</h1>

{% include "page-section-nav.html" %}

<h2 data-nav-text="Basics">The basics</h2>

	<p>When there is an upcoming vote in Congress you have an opinion about, use <span class="site-brand">if.then.fund</span> to schedule a donation to members of Congress based on the outcome of the vote.</p>
	
	<p>Until the vote occurs, we don't reveal to anyone any information about the action you took.  We do this to ensure we (and you, through us) stay on the right side of the law (see our <a href="/about/legal">Legal Background</a>).</p>

	<p>After the vote, we’ll split your donation across the representatives and senators in Congress depending on how they vote. If they vote the way you wanted, they’ll get a portion of your donation. If they vote the other way, their next general election opponent will get their portion of your donation instead. We can split your donation all the way down to 1¢ per recipient if needed!</p>

<h2 data-nav-text="Fees">What are the fees?</h2>

	<p><span class="site-brand">if.then.fund</span> applies a 5% fee to donations. Our partner <a href="http://www.democracyengine.com/">Democracy Engine</a> applies a 4% + 20¢ credit card processing fee to your total donation. Fees are deducted from your donation amount before we split it up.</p>

<h2>Is this anonymous?</h2>

	<p>No. Federal law makes anonymous campaign donations illegal.</p>

	<p>Campaigns must have and keep a record of the name, address, occupation, employer, and amount of each contribution. This must also be reported to the Federal Election Commission, a government agency, and the donation becomes a part of the public record and will be searchable in online databases. (Even if your donation amount is below the $200 per candidate per year threshold typically required for reporting, all of our donations to &ldquo;opponents&rdquo; are so-called &ldquo;earmarked donations&rdquo; which regardless of size must be reported.)</p>

	<p>We do not tell the campaigns <em>why</em> you made the contribution, however (<a href="/about/legal#ethicsrules">see why</a>).</p>

<h2 data-nav-text="Donations to opponents">How does a donation to the next general election opponent work?</h2>
	
	<p>Donations made to throw out an elected official are a donation to the general election opponent of that elected official in their next election. The opponent will be the candidate of the other major party. The opponent may not be known at the time you make your contribution. <a href="http://www.democracyengine.com/">Democracy Engine</a> Inc PAC will hold your contribution until the opponent is known following the next primary election.</p>

	<p>By law Democracy Engine Inc PAC must distribute your funds within 10 days of the opponent becoming known.  In the rare situation in which there is no opposition candidate of the correct party, your donation will be forwarded to the appropriate national party committee. Check out our <a href="/about/legal">Legal Background</a> page for more details about the legal framework under which these donations are made.</p>

<h2>What vote do you use?</h2>

	<p>There are many more votes in Congress than on the final passage of a bill. Opponents of a measure may make use of procedural votes leading up to the final passage to prevent a measure from coming to a final up-or-down vote. In the Senate, &ldquo;cloture&rdquo; votes are used in this way like a filibuster. When a procedural vote has the effect of killing a bill, or has otherwise been used in lieu of a final roll call vote, we will use that vote to distribute contributions.</p>

<h2 data-nav-text="If the outcome of a vote changes">What happens if the outcome of a vote changes?</h2>

	<p>In rare circumstances the outcome of a vote in Congress may change after it is first announced. This may occur either because Congress&rsquo;s initial publication of the vote was in error or if a senator <a href="http://www.rules.senate.gov/public/index.cfm?p=RuleXII">changes his or her vote</a>. In such cases <span class="site-brand">if.then.fund</span> makes contributions according to the first official publication of a vote&rsquo;s outcome that we receive.</p>

</div>
</div>


{% endblock %}
