{% extends "master.html" %}

{% block title %}Press Clips{% endblock %}

{% block head %}
<style>
#press-clips {
	padding: 0;
}
#press-clips li {
	margin-bottom: 1em;
	list-style: none;
}
</style>
{% endblock %}

{% block body %}

<h1>Press Clips</h1>

<ul id="press-clips">
	<li>May 21, 2015. <a href="http://recode.net/2015/05/21/small-dollars-big-impact-for-d-c-political-fundraising-guru/">re/code: Small Dollars, Big Impact for D.C. Political Fundraising Guru</a></li>
	<li>March 25, 2015. <a href="http://www.nytimes.com/2015/03/26/upshot/campaign-finance-reform-turns-to-reward-and-punishment.html">The New York Times (The Upshot): Campaign Finance Reform Turns to Reward and Punishment</a></li>
	<li>March 13, 2015. <a href="http://techpresident.com/news/25482/next-generation-political-crowdfunding-platforms-reimagine-small-dollar-giving">techPresident: Next-Generation Political Crowdfunding Platforms Reimagine Small Dollar Giving</a></li>
	<li>March 9, 2015. <a href="http://www.washingtonpost.com/blogs/the-fix/wp/2015/03/09/how-you-and-a-few-thousand-of-your-friends-can-become-the-biggest-donors-in-american-politics/">The Washington Post (The Fix): How you (and a few thousand of your friends) can become the biggest donors in American politics</a></li>
</ul>


{% endblock %}
