{% extends "master.html" %}

{% block title %}Press Clips{% endblock %}

{% block head %}
<style>
#press-clips {
	padding: 0;
}
#press-clips li {
	margin-bottom: 1em;
	list-style: none;
}
#press-clips li blockquote {
	margin: 1em 0 1.5em 2em;
	padding: 2px 1em;
	font-size: 90%;
}

</style>
{% endblock %}

{% block body %}

<h1>Press Clips</h1>

{% if BRAND_ID != "if.then.fund" %}
<p style="margin-bottom: 2em"><span class="site-brand">{{SITE_NAME}}</span> is powered by <a href="https://if.then.fund" style="border: none"><span class="site-brand-ifthenfund">if.then.fund</span></a>. These are press clips about <a href="https://if.then.fund" style="border: none"><span class="site-brand-ifthenfund">if.then.fund</span></a>.</p>
{% endif %}

<ul id="press-clips">
	<li>Jun 11, 2015. <a href="http://www.washingtonpost.com/news/powerpost/wp/2015/06/11/ifthenfund/">The Washington Post (Power Post): This Web site allows political donors to give money based on how lawmakers vote. Just don’t call it bribery.</a>
		<blockquote>
			<p>Zucker and Tauberer – both long-time open government activists – believe that pooling money helps small donors match the influence of well-heeled companies, special interests and individuals.</p>
			<p>Michael E. Toner, a partner at Wiley Rein and former FEC chairman, . . . called If.Then.Fund “innovative”</p>
		</blockquote>
	</li>
	<li>May 21, 2015. <a href="http://recode.net/2015/05/21/small-dollars-big-impact-for-d-c-political-fundraising-guru/">re/code: Small Dollars, Big Impact for D.C. Political Fundraising Guru</a>
		<blockquote>
			If.Then.Fund — which allows people to give small donations to any lawmaker who votes a certain way on a bill — is an unexpected new idea for combating the influence of big-money donations in Washington.
		</blockquote>
	</li>
	<li>March 25, 2015. <a href="http://www.nytimes.com/2015/03/26/upshot/campaign-finance-reform-turns-to-reward-and-punishment.html">The New York Times (The Upshot): Campaign Finance Reform Turns to Reward and Punishment</a>
		<blockquote>
			If.then.fund, created by Jonathan Zucker, a campaign finance lawyer, and Joshua Tauberer, (who also created GovTrack.us, a site tracking congressional activity) acts as a conduit, collecting money that will then be given to a candidate based on how current legislators vote. 
		</blockquote>
	</li>
	<li>March 13, 2015. <a href="http://techpresident.com/news/25482/next-generation-political-crowdfunding-platforms-reimagine-small-dollar-giving">techPresident: Next-Generation Political Crowdfunding Platforms Reimagine Small Dollar Giving</a>
		<blockquote>
			This almost redefines the meaning of the phrase “small dollar donations.” Once an individual's donation has been split between all those who voted for something and future opponents of those who voted against (or vice versa), the donation per candidate could be as low as one cent.
		</blockquote>
	</li>
	<li>March 9, 2015. <a href="http://www.washingtonpost.com/blogs/the-fix/wp/2015/03/09/how-you-and-a-few-thousand-of-your-friends-can-become-the-biggest-donors-in-american-politics/">The Washington Post (The Fix): How you (and a few thousand of your friends) can become the biggest donors in American politics</a>
		<blockquote>
			If politicians weren't reliant on fundraising, if they didn't have to spend so much time begging for contributions, what would the process look like? What would a reform of the donation system look like? Which brings us to {{SITE_NAME}}.			
		</blockquote>
	</li>
</ul>


{% endblock %}
