{% extends "master.html" %}

{% block title %}About{% endblock %}

{% block head %}
<style>
.team {
}
	@media only screen and (min-width: 768px) {
		.team > div {
			border-left: 1px solid #BBB;
			padding-left: 1.25em;
			padding-top: 1px;
			padding-bottom: 3em;
			font-size: 86%;
		}

		.team h2 {
			font-size: 20px;
			font-weight: normal;
			text-align: center;
		}
	}

	.team h3 {
		margin: 1.5em 0 1em 0;
		font-size: 16px;
		font-weight: bold;
	}
		.team h3 span {
			font-size: 80%;
			font-weight: lighter;
		}

	.team img {
		float: right;
		margin: 0 0 1em 1.25em;
		width: 130px;
		height: 175px;
		border: none; /*1px solid #AAA;*/
	}
	.team p {
		color: black;
	}
		@media only screen and (min-width: 1200px) {
			.team p {
				text-align: justify;
				line-height: 160%;
			}
		}

	.team .ext {
		margin-left: .5em;
	}
	.team .ext:after {
		content: "►";
		margin-left: .25em;
	}

dl dd {
	margin-bottom: .5em;
}
</style>
{% endblock %}

{% block body %}
<h1 style="margin-bottom: 0">About</h1>

<div class="row">
	<div class="col-sm-6">
		<p style="margin-top: 2em">We are empowering Americans to shape the U.S. Congress through targeted, small-dollar donations to candidates.</p>

		<h2>How it works</h2>

		<p>Is there an upcoming vote in Congress you have an opinion about? Schedule a donation to members of Congress who vote the way you want <b>or</b> to the next election challenger of members of Congress who vote against you.</p>

		<p>After the vote, we&rsquo;ll split your contribution across those members of Congress and challengers &mdash; even down to 1¢ per candidate if needed &mdash; and we&rsquo;ll tell the politicians <i>why</i> you made your contribution.</p>

		<p>Is this legal? Yes. Bribery laws require that the giver intends to influence an official act. Because we do not reveal any information about your planned contribution <i>before</i> the vote, there is no possibility that you (or us) are influencing an official act.</dd>

		<h2>Why we&rsquo;re doing this</h2>

		<p>By targeting real outcomes, shaping the next Congress, aggregating donations, and reaching all members of Congress, we hope to raise the tide of small-donor supporters and shift the balance of power away from concentrated wealth. Read <a href="/about/theory-of-change">our theory of change</a> for more details.</p>
	</div>

	<div class="col-sm-6 team">
	<div>
		<h2>Team</h2>

		<h3>Jonathan Zucker<span>, co-founder</span></h3>
		<img class='team-photo' src='/static/team/zucker.jpeg'>
		<p>Jonathan Zucker is a political technology entrepreneur. He is the founder &amp; CEO of <a href="http://www.democracyengine.com">Democracy Engine</a>, which helps organizations channel funds to candidates and causes to effect real change. Prior to Democracy Engine, he was executive director of ActBlue.</p>
		<p>He is also an advisor and counsel to <a href="http://CrowdPAC.com">CrowdPAC</a> and co-founder and COO of <a href="http://ruck.us">Ruck.us</a>. He holds a J.D. from Georgetown University. <a class="ext" href="http://www.democracyengine.com/zucker">extended bio</a></p>
		<div class="clearfix"> </div>

		<h3>Joshua Tauberer<span>, co-founder</span></h3>
		<img class='team-photo' src='/static/team/tauberer.jpeg'>
		<p>Joshua Tauberer is a civic hacker and entrepreneur. His <a href="https://www.govtrack.us">GovTrack.us</a> project, which launched in 2004, helps millions of individuals track and understand the activities of the U.S. Congress, and it was the first website to create open data for Congress.</p>
		<p>He is also the author of <a href="https://opengovdata.io">Open Government Data: The Book</a>, an organizer of <a href="http://dc.opendataday.org/">Open Data Day DC</a>, and holds a Ph.D. from the University of Pennsylvania. <a class="ext" href="http://razor.occams.info">homepage</a></p>
		<div class="clearfix"> </div>
	</div>
	</div>
</div>

{% endblock %}
