{% extends "master.html" %}
{% load static %}
{% load humanize %}
{% load itfsite_utils %}

{% block title %}{{campaign.title}}{% endblock %}

{% block head %}

<meta property="og:title" content="{{campaign.title}} ({% if campaign.owner %}{{campaign.owner.name}} on {% endif %}{{SITE_NAME}})" />
{% if trigger %}
<meta property="og:description" content="Reshape Congress by making a contribution based on how {{trigger.trigger_type.strings.actors}} {{trigger.trigger_type.strings.action_vb_inf}}.">
{% endif %}

{# for Twitter summary card, min size 120x120 and less than 1MB #}
{% if campaign.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.og_image.url}}?size=tb" />
{% elif campaign.owner.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.owner.og_image.url}}?size=tb" />
{% elif campaign.splash_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.splash_image.url}}?size=tb" />
{% elif campaign.owner.banner_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.owner.banner_image.url}}?size=tb" />
{% else %}
{% include "og_image.html" %}
{% endif %}

{% if campaign.owner.twitter_handle %}
<meta name="twitter:creator" content="@{{campaign.owner.twitter_handle}}" />
<meta name="twitter:card" content="summary_large_image" />
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}

<style>
{% if campaign.splash_image.name %}
#splash {
	background-image: url('{{campaign.splash_image.url}}?size=lg&blur={{campaign.extra.style.splash.blur}}');
	background-size: cover;
	background-position: 50% 50%;
}
	@media screen and (max-width: 1100px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=md&blur={{campaign.extra.style.splash.blur}}'); }
	}
	@media screen and (max-width: 1024px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=sm&blur={{campaign.extra.style.splash.blur}}&quality=low'); }
	}
	@media screen and (max-width: 768px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=xs&blur={{campaign.extra.style.splash.blur}}&quality=low'); }
	}

#nav-wrap {
	background-color: rgba(0,0,0,.5);
}
	@media screen and (min-width: 769px) {
		#nav-wrap a {
			color: rgba(255,255,255,.5);
		}
	}
{% endif %}

#splash-text {
	max-width: 40em;
	padding-top: 1em;
	padding-bottom: 75px;
	font-size: 20px;
	line-height: 145%;
	-webkit-font-smoothing: antialiased;
	text-shadow: 2px 4px 4px rgba(255, 255, 255, .8);
	font-family: "jaf-facitweb", sans-serif;
}
	@media screen and (min-width: 769px) {
		#splash-text { padding-top: 75px; }
	}
	#splash-text h1 {
		margin-top: 0;
		font-family: Yanone Kaffeesatz;
		font-size: 56px;
	}
	#splash-text.invert-text {
		color: white;
		text-shadow: 2px 4px 4px rgba(0, 0, 0, .8);
	}
		#splash-text.invert-text a {
			color: #AAF;
			border-color: #AAF;
		}

	#splash-text.invert-text.subhead-darken-bg .subhead {
		background-color: rgba(20, 20, 20, .5);
		margin-left: -1em;
		padding: .75em 1em;
	}
		#splash-text.invert-text.subhead-darken-bg {
			text-shadow: 1px 2px 2px rgb(0, 0, 0);
		}
		#splash-text.subhead-darken-bg .subhead p:last-child {
			margin-bottom: 0;
		}

	#splash-text .image-credit {
		margin-top: 1.5em;
		font-size: 66%;
		color: #555;
		text-shadow: none;
	}
		#splash-text.invert-text .image-credit {
			color: #EEE;
		}
		#splash-text .image-credit a {
			color: #336;
			border-color: #336;
		}	
			#splash-text.invert-text .image-credit a {
				color: #BBD;
				border-color: #BBD;
			}

#draft-warning {
	background-color: rgb(130, 30, 40);
	padding: .5em 0;
	color: #FFA;
	text-align: center;
}

#story {
	background-color: rgb(190, 80, 90);
	padding: 3em 0;
	color: #FFF;
}
	#story a {
		color: #FFA;
		border-color: #FFA;
	}
	#story hr {
		border-color: #DBB;
	}

	#story dl {
		margin-top: -.5em;
	}
	#story dl dt {
		font-size: 130%;
	}
	#story dl dd {
		margin-bottom: 1em;
	}

form label {
  font-weight: normal;
  font-size: 14px;
  padding-right: .5em;
}
form p {
  line-height: 137%;
}

form span.required:after {
	content: '*';
	color: #484;
	font-size: 75%;
	vertical-align: super;
}

	form label .tip {
		padding-left: 1em;
		font-size: 90%;
		font-weight: normal;
	}

#action-pane {
	background-color: #F4F4C5;
	padding: 3em 0;
	color: #110;
}

#footer-container {
	background-color: #EEE;
	padding-top: 2em;
}

.table {
	font-size: 90%;
}

#action-pane .table>tbody>tr>td {
    border: none;
}

</style>
{% endblock %}

{% block body-wide %}
<div id="page-fixed-header">
	{{campaign.title}}
	{% if campaign.owner %} &mdash; {{campaign.owner.name}}{% endif %}
</div>

<div id="splash">
  <div id="nav-wrap">
	<div class="container">
	  <div class="row">
		  {% include "navbar.html" %}
	  </div>
	</div>
  </div>

  <div class="container">

	{% if campaign.owner %}
	<div id="campaign-owner" style="float: right">
		<a href="{{campaign.owner.get_absolute_url}}" title="{{campaign.owner.name}}">
			{% if campaign.owner.profile_image.name %}
			<div style="margin: 0 1em 0 0; border: 1px solid rgba(0,0,0,.5); background-image: url({{campaign.owner.profile_image.url}}?size=tb);" class="organization-profile-pic">
			</div>
			{% else %}
				{{campaign.owner.name}}
			{% endif %}
		</a>
	</div>
	<div class="clearfix visible-xs"> </div>
	{% endif %}

	<div id="splash-text" class="{% if campaign.extra.style.splash.invert_text %}invert-text{% endif %}">
		<h1>{{campaign.headline}}</h1>

		<div class="subhead">
			{% if BRAND_ID == "279forchange.us" %}
				{% include "itfsite/campaign-subhead-"|add:BRAND_ID|cut:"."|add:".html" %}
			{% else %}
				{{campaign.subhead|render_text:campaign.subhead_format}}
			{% endif %}
		</div>

		{% if campaign.image_credit %}
			<div class="image-credit">
				{{campaign.image_credit|render_text:campaign.subhead_format}}
			</div>
		{% endif %}
	</div>
  </div>
</div>

{% if campaign.status|stringformat:'s' == "CampaignStatus.Draft" %}
<div id="draft-warning">
	This campaign is still a draft.
	{% if trigger.status|stringformat:'s' == "TriggerStatus.Draft" %}
		The action <em>{{trigger.title}}</em> is also a draft and will not appear if the campaign is made live.
	{% endif %}
</div>
{% endif %}

<div id="story" class="invert-site-brand-ifthenfund">
	<div class="container">
	<div class="row">
		<div class="col-sm-8">
			{% with body_text=campaign.body_text|render_text:campaign.body_format %}
			{% with body_text_truncated=body_text|truncatewords_html:70 %}
				{% if body_text == body_text_truncated %}
					{{body_text}}
				{% else %}
					{{body_text_truncated}}
					<a href="#" onclick="return show_modal_confirm('About', $('#story-full>div').clone(), [null, 'Close'])">Read More</a>
					<div id="story-full" class="hidden">
						<div>
							{{body_text}}
						</div>
					</div>
				{% endif %}
			{% endwith %}
			{% endwith %}
		</div>
		<div class="col-sm-4">
			{% with totals=campaign.get_contrib_totals %}
			<dl>
				{% if letters_campaign %}
				<dt>{{letters_sent}}</dt>
				<dd>letter{{letters_sent|pluralize}} written</dd>
				{% endif %}

				{% if totals.contrib_total > 0 %}
					{# has contributions #}
					{% if totals.contrib_fixed_outcome_total > 0 %}
						<dt>{{totals.contrib_fixed_outcome_total|currency}}</dt>
						<dd>
							contributed by {{totals.contrib_user_count|intcomma}} contributor{{totals.contrib_user_count|pluralize}}
							{% if totals.by_trigger|length == 1 %}
							<small>(<a href="#" onclick="$('#modal_trigger_{{totals.by_trigger.0.trigger.id}}').modal(); return false;">details</a>)</small>
							{% endif %}
						</dd>
						{% if totals.by_trigger|length > 1 %}
						{% for trigger in totals.by_trigger %}
							<p><small><a href="#" onclick="$('#modal_trigger_{{trigger.trigger.id}}').modal(); return false;">{{trigger.trigger.title}}</a></small></p>
						{% endfor %}
						{% endif %}
					
					{% else %}
						<h3 style="margin-top: 0;">Contributions made{% if trigger %} so far{% endif %}:</h3>
						{% for trigger in totals.by_trigger %}
							{% if totals.by_trigger|length > 1 %}
								<p><b>{{trigger.trigger.title}}</b></p>
							{% endif %}
							<p style="float: right"><small><a href="#" onclick="$('#modal_trigger_{{trigger.trigger.id}}').modal(); return false;">Details</a></small></p>
							{% for outcome in trigger.aggregates.outcomes %}
								<dt>{{outcome.total|currency}}</dt>
								<dd><em style="font-size: 90%">to</em> {{outcome.label}}</dd>
							{% endfor %}
						{% endfor %}
					{% endif %}

				{% elif trigger.execution and not tcust and totals.pledged_total == 0 %}
					{# show zeroes for the outcomes --- otherwise user is confused why we only show one total #}

					{% for outcome in trigger_outcome_strings %}
						<dt>{{0|currency}}</dt>
						<dd><em style="font-size: 90%">to</em> {{outcome.label}} &mdash; be the first!</dd>
                	{% endfor %}

				{% elif totals.pledged_total != None %}
					{# just pledges, no contributions yet #}
					<dt>{{ totals.pledged_total|currency }}</dt>
					<dd>committed {% if trigger %}so far{% endif %} by {{totals.pledged_user_count|intcomma}} contributor{{totals.pledged_user_count|pluralize}}</dd>

				{% elif totals.pledged_site_wide > 0 %}
					<dt><span class="itfbutton"> </span>{{ totals.pledged_site_wide|currency }}</dt>
					<dd>committed on all sides of this issue*</dd>
					<p style="font-size: 13px; line-height: 128%;">*Federal law prevents us from giving this campaign&rsquo;s total ahead of congressional action. Instead we show the total committed on both sides of this issue across all campaigns powered by <a href="https://if.then.fund"><span class="site-brand-ifthenfund">if.then.fund</span></a>.</p>

				{% else %}
					{# there are no executed pledges and no pledges made prior to trigger execution to show in the meanwhile, so this is probably a trigger created after a vote that has not yet had any activity, and has a fixed outcome #}

					<dt>{{0|currency}}</dt>
					<dd>
						contributed so far &mdash; be the first!
					</dd>

				{% endif %}

			</dl>
			{% endwith %}

			<hr>

			<small>
			<p>This page was added {% if campaign.owner %}by <a href="{{campaign.owner.get_absolute_url}}">{{campaign.owner.name}}</a>{% endif %} on {{campaign.created|date}}.</p>
			{% if trigger.execution %}
				<p>The {{trigger.trigger_type.strings.action_noun}} occurred on {{trigger.execution.action_time|date}}.
				{% if trigger.execution.pledge_count_with_contribs %}Contributions began to be processed on {{trigger.execution.created|date}}.{% endif %}
				</p>
			{% endif %}
			</small>
		</div>
	</div>
	</div>
</div>

<div id="my-actions" class="hidden">
	<div class="container">
		<div class="actions-container" style="padding: 2em 0">
			
		</div>
	</div>
</div>

<div id="action-pane">
	{% if letters_campaign %}
	<div id="write-a-letter">
		<div class="container">
			{% include "letters/write-your-rep-form.html" %}
			{% if trigger %}
				<p id="make-a-contribution-instead" style="margin-top: 1em"><small>Skip this and <a href="#" onclick="return make_a_contribution_or_write_a_letter_instead(false);">make a contribution instead</a>.</small></p>
			{% endif %}
		</div>
	</div>
	{% endif %}

	{% if trigger %}
	<div id="make-a-contribution" {% if letters_campaign %}class="hidden"{% endif %}>
		<div class="container">
			{% include "contrib/pledge-form.html" %}
		</div>
	</div>
	{% endif %}
</div>

<div id="footer-container">
<div class="container">

<small>
{% if not campaign.owner %} {# the 'we' doesn't make sense if the page wasn't created by {{SITE_NAME}} #}
<p>We aim to shift the balance of power to shape Congress away from concentrated wealth and toward small-dollar donors like you.</p>
{% endif %}
<p>You will be making a campaign contribution to {{trigger.trigger_type.strings.actors}} or their next opponent. Until the 
{{trigger.trigger_type.strings.action_noun}} occurs, <span class="site-brand">{{SITE_NAME}}</span> won't reveal to anyone what action you
took. After the {{trigger.trigger_type.strings.action_noun}}, we’ll charge your card and split your contribution based on your
instructions. More on <a href="/about/how-it-works">how it works</a>.</p>
</small>

<p id="show_utm_tool" style="display: none;"><a href="#" onclick="$('#utm_tool').slideToggle(); utm_tool(); return false;" style="border: none">Create a link...</a></p>
<div id="utm_tool" style="display: none; max-width: 320px; font-size: 90%;">
	<div class="row">
		<div class="col-xs-6">
			<div><label for="utm_tool_campaign">Campaign code:</label></div>
			<div><input id="utm_tool_campaign" type="text" onkeyup="utm_tool()" onchange="utm_tool()" style="width: 100%"></div>
		</div>
		<div class="col-xs-6">
			<div><label for="utm_tool_short"><input id="utm_tool_short" type="checkbox" checked onchange="utm_tool()"> Short URL</label></div>
		</div>
	</div>
	<div style="margin-top: .5em"><input id="utm_tool_link" type="text" value="" style="width: 100%" readonly></div>
</div>

{% with totals=campaign.get_contrib_totals %}
{% for trigger in totals.by_trigger %}
    <div id="modal_trigger_{{trigger.trigger.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_trigger_{{trigger.trigger.id}}_title" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal_trigger_{{trigger.trigger.id}}_title">{{trigger.trigger.title}}</h4>
          </div>
          <div class="modal-body">
          	{{trigger.trigger.execution.description|render_text:trigger.trigger.execution.description_format}}

            <h5 style="margin-top: 2em">Contributions By {{trigger.trigger.trigger_type.strings.action_noun.title}}</h5>
            <table class="table" style="width: auto">
            <tr><th>{{trigger.trigger.trigger_type.strings.action_noun.title}}</th> <th>Total Contributions</th></tr>
            {% for outcome in trigger.aggregates.outcomes %}
            	<tr><td>{{outcome.label}}</td> <td>{{outcome.total|currency}}</td></tr>
            {% endfor %}
            </table>

            <h5>Contributions By Party of Recipient Candidate</h5>
            <table class="table" style="width: auto">
            <tr><th>Party</th> <th>Total Contributions</th></tr>
            {% for party in trigger.aggregates.by_party %}
            	<tr><td>{{party.party.name}}</td> <td>{{party.total|currency}}</td></tr>
            {% endfor %}
            </table>

            <h5>Contributions By {{trigger.trigger.trigger_type.strings.actor.title}}</h5>
            <table class="table">
            <tr>
            	<th>{{trigger.trigger.trigger_type.strings.actor.title}}</th>
            	<th>{{trigger.trigger.trigger_type.strings.action_noun.title}}</th>
            	<th>Contributions to<br>{{trigger.trigger.trigger_type.strings.actor.title}}</th>
            	<th>Contributions to<br>Opponent</th>
            </tr>
            {% for actor in trigger.aggregates.actors %}
            	<tr>
            		<td>{{actor.actor}}</td>
            		<td>{{actor.action.outcome_label}}</td>
            		<td class="{% if actor.True > 0 %}text-success{% else %}text-muted{% endif %}">{{actor.True|currency}}</td>
            		<td class="{% if actor.False > 0 %}text-danger{% else %}text-muted{% endif %}">{{actor.False|currency}}</td>
            	</tr>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% endwith %}

{# with body-wide, we leave open two divs: an unstyled dive and a .container #}

{% endblock %}

{% block scripts %}
<script src="{% static "js/jquery.payment.js" %}"> </script>
<script src="{% static "js/mailcheck.min.js" %}"> </script>
<script>
	$(function() {
		if (the_page && the_page.show_utm_tool)
			$('#show_utm_tool').show();

		// Show any actions the user already performed.
		var can_write_letter = {% if letters_campaign %}true{% else %}false {% endif %};
		var can_make_pledge = {% if trigger %}true{% else %}false{% endif %};
		for (var i = 0; i < (the_page ? the_page.actions.length : 0); i++) {
			var action = the_page.actions[i];
			$('#my-actions').removeClass('hidden');
			var n = $("<div/>").html(action.rendered)
			$('#my-actions div.actions-container').append(n);

			{% if trigger %}
			// If the user has already made a pledge on this trigger,
			// show alternate content. Note that the user may not be
			// logged in because we may have placed the pledge id into
			// the user's session. Replace the form and return since
			// everything else is about form validation.
			if (action.trigger == {{trigger.id}}) {
				// The user already made a pledge on this. Totally destroy
				// the form elements for making another pledge.
				$('#make-a-contribution, #make-a-contribution-instead').remove();
				can_make_pledge = false;
			}
			{% endif %}
			
			{% if letters_campaign %}
			if (action.letterscampaign == {{letters_campaign.id}}) {
				$('#write-a-letter, #write-a-letter-instead').remove();
				$('#make-a-contribution').removeClass('hidden');
				can_write_letter = false;
			}
			{% endif %}
		}

		if (can_write_letter)
			letters_init();
		else if (can_make_pledge)
			pledge_init(); // only init once shown, b/c of dynamic button sizing
		else // can't do anything
			$('#action-pane').remove();
	})

	function make_a_contribution_or_write_a_letter_instead(mode) {
		$('#write-a-letter').toggleClass('hidden', !mode);
		$('#make-a-contribution').toggleClass('hidden', mode);
		if (!mode) pledge_init();
		return false; // cancel click
	}

	function utm_tool() {
		var url = ($('#utm_tool_short').prop('checked') ? "{{campaign.get_short_url|escapejs}}" : "{{ROOT_URL}}{{campaign.get_absolute_url|escapejs}}")
		var campaign_code = $('#utm_tool_campaign').val();
		campaign_code = campaign_code.replace(/^\s+|\s+$/g, '');
		if (campaign_code)
			url += "?utm_campaign=" + encodeURIComponent(campaign_code);
		$('#utm_tool_link').val(url)
	}

	function cancel_pledge(pledge_id) {
		show_modal_confirm(
			"Cancel contribution?",
			$("<p>Are you sure you want to cancel this contribution?</p>"),
			["Cancel Contribution", "Nevermind"],
			function() {
				ajax_with_indicator({
				    url: '/contrib/_cancel',
				    method: "POST",
				    data: { pledge: pledge_id },
				    success: function(res) {
				      setTimeout("$('#ajax_loading_indicator').fadeIn()", 100);
				      window.location.reload()
				    }
				})
			});
		return false;
	}
	</script>
{% endblock %}
