{% extends "master.html" %}
{% load static %}
{% load humanize %}
{% load itfsite_utils %}

{% block title %}{{campaign.title}}{% endblock %}

{% block head %}

<meta property="og:title" content="{{campaign.title}} ({% if campaign.owner %}{{campaign.owner.name}} on {% endif %}if.then.fund)" />
{% if trigger %}
<meta property="og:description" content="Reshape Congress by making a contribution based on how {{trigger.trigger_type.strings.actors}} {{trigger.trigger_type.strings.action_vb_inf}}.">
{% endif %}

{# for Twitter summary card, min size 120x120 and less than 1MB #}
{% if campaign.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.og_image.url}}?size=tb" />
{% elif campaign.owner.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.owner.og_image.url}}?size=tb" />
{% elif campaign.splash_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.splash_image.url}}?size=tb" />
{% elif campaign.owner.banner_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.owner.banner_image.url}}?size=tb" />
{% else %}
<meta property="og:image" content="{{ROOT_URL}}/static/branding/icons/favicon-192x192.png" />
{% endif %}

{% if campaign.owner.twitter_handle %}
<meta name="twitter:creator" content="@{{campaign.owner.twitter_handle}}" />
<meta name="twitter:card" content="summary_large_image" />
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}

<style>
{% if campaign.splash_image.name %}
#splash {
	background-image: url('{{campaign.splash_image.url}}?size=lg');
	background-size: cover;
	background-position: 50% 50%;
}
	@media screen and (max-width: 1100px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=md'); }
	}
	@media screen and (max-width: 1024px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=sm'); }
	}
	@media screen and (max-width: 768px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=xs'); }
	}

#nav-wrap {
	background-color: rgba(0,0,0,.5);
}
	@media screen and (min-width: 769px) {
		#nav-wrap a {
			color: rgba(255,255,255,.5);
		}
	}
{% endif %}

#splash-text {
	max-width: 40em;
	padding-top: 1em;
	padding-bottom: 75px;
	font-family: Droid Sans;
	font-size: 20px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-shadow: 2px 4px 4px rgba(255, 255, 255, .8);
}
	@media screen and (min-width: 769px) {
		#splash-text { padding-top: 75px; }
	}
	#splash-text h1 {
		margin-top: 0;
		font-family: Yanone Kaffeesatz;
		font-size: 56px;
	}
	#splash-text.invert-text {
		color: white;
		text-shadow: 2px 4px 4px rgba(0, 0, 0, .8);
	}


#story {
	background-color: rgb(190, 80, 90);
	padding: 3em 0;
	color: #FFF;
}
	#story a {
		color: #FFA;
		border-color: #FFA;
	}

	#story dl {
		margin-top: -.5em;
	}
	#story dl dt {
		font-size: 130%;
	}
	#story dl dd {
		margin-bottom: 1em;
	}

#write-a-letter {
	background-color: #BDA;
	padding: 3em 0;
	color: #010;
}

#letter-preview {
	margin: -1.5em 0 1em 0;
	border: 1px solid #363;
	border-radius: 6px;
	background-color: #FEFEFE;
	padding: 1em;
	font-family: sans-serif;
	font-weight: 300;
}

form span.required:after {
	content: '*';
	color: #484;
	font-size: 75%;
	vertical-align: super;
}

	form label .tip {
		padding-left: 1em;
		font-size: 90%;
		font-weight: normal;
	}

#make-a-contribution {
	background-color: #EEB;
	padding: 3em 0;
	color: #110;
}

#footer-container {
	background-color: #EEE;
	padding-top: 2em;
}

.table {
	font-size: 90%;
}
</style>
{% endblock %}

{% block body-wide %}
<div id="page-fixed-header">
	{{campaign.title}}
	{% if campaign.owner %} &mdash; {{campaign.owner.name}}{% endif %}
</div>

<div id="splash">
  <div id="nav-wrap">
	<div class="container">
	  <div class="row">
		  {% include "navbar.html" %}
	  </div>
	</div>
  </div>

  <div class="container">

	{% if campaign.owner %}
	<div id="campaign-owner" style="float: right">
		<a href="{{campaign.owner.get_absolute_url}}" title="{{campaign.owner.name}}">
			{% if campaign.owner.profile_image.name %}
			<div style="margin: 0 1em 0 0; border: 1px solid rgba(0,0,0,.5); background-image: url({{campaign.owner.profile_image.url}}?size=tb);" class="organization-profile-pic">
			</div>
			{% else %}
				{{campaign.owner.name}}
			{% endif %}
		</a>
	</div>
	<div class="clearfix visible-xs"> </div>
	{% endif %}

	<div id="splash-text" class="{{campaign.extra.style.splash.class}}">
		<h1>{{campaign.headline}}</h1>

		<div class="subhead">
			{{campaign.subhead|render_text:campaign.subhead_format}}
		</div>
	</div>
  </div>
</div>

<div id="story">
	<div class="container">
	<div class="row">
		<div class="col-sm-8">
			{% with body_text=campaign.body_text|render_text:campaign.body_format %}
			{% with body_text_truncated=body_text|truncatewords_html:70 %}
				{% if body_text == body_text_truncated %}
					{{body_text}}
				{% else %}
					{{body_text_truncated}}
					<a href="#" onclick="return show_modal_confirm('About', $('#story-full>div'), [null, 'Close'])">Read More</a>
					<div id="story-full" class="hidden">
						<div>
							{{body_text}}
						</div>
					</div>
				{% endif %}
			{% endwith %}
			{% endwith %}
		</div>
		<div class="col-sm-4">
			{% with totals=campaign.get_contrib_totals %}
			<dl>
				{% if letters_campaign %}
				<dt>###</dt>
				<dd>letters written</dd>
				{% endif %}

				{% if totals.contrib_total > 0 %}
					{# has contributions #}
					{% if totals.contrib_fixed_outcome_total > 0 %}
						<dt>{{totals.contrib_fixed_outcome_total|currency}}</dt>
						<dd>
							contributed by {{totals.contrib_user_count|intcomma}} contributor{{totals.contrib_user_count|pluralize}}
							{% if totals.by_trigger|length == 1 %}
							<small>(<a href="#" onclick="$('#modal_trigger_{{totals.by_trigger.0.trigger.id}}').modal(); return false;">details</a>)</small>
							{% endif %}
						</dd>
						{% if totals.by_trigger|length > 1 %}
						{% for trigger in totals.by_trigger %}
							<p><small><a href="#" onclick="$('#modal_trigger_{{trigger.trigger.id}}').modal(); return false;">{{trigger.trigger.title}}</a></small></p>
						{% endfor %}
						{% endif %}
					
					{% else %}
						{% for trigger in totals.by_trigger %}
							{% if totals.by_trigger|length > 1 %}
								<p><b>{{trigger.trigger.title}}</b></p>
							{% endif %}
							<p style="float: right"><small><a href="#" onclick="$('#modal_trigger_{{trigger.trigger.id}}').modal(); return false;">Details</a></small></p>
							{% for outcome in trigger.aggregates.outcomes %}
								<dt>{{outcome.total|currency}}</dt>
								<dd>{{outcome.label}}</dd>
							{% endfor %}
						{% endfor %}
					{% endif %}

				{% elif totals.pledged_total != None %}
					{# just pledges, no contributions yet #}
					<dt>{{ totals.pledged_total|currency }}</dt>
					<dd>committed so far by {{totals.pledged_user_count|intcomma}} contributor{{totals.pledged_user_count|pluralize}}</dd>

				{% else %}
					<dt>{{ totals.pledged_site_wide|currency }}</dt>
					<dd>committed on all sides of this issue site-wide*</dd>
					<p style="font-size: 13px; line-height: 128%;">*Federal law prevents us from giving this campaign&rsquo;s total ahead of congressional action. Instead we show the total committed on both sides of this issue across all <span class="site-brand">if.then.fund</span> campaigns.</p>

				{% endif %}

			</dl>
			{% endwith %}

			<hr>

			<small>
			<p>This page was added to <span class="site-brand">if.then.fund</span> {% if campaign.owner %}by <a href="{{campaign.owner.get_absolute_url}}">{{campaign.owner.name}}</a>{% endif %} on {{campaign.created|date}}.</p>
			{% if trigger.execution %}<p>The {{trigger.trigger_type.strings.action_noun}} occurred on {{trigger.execution.action_time|date}}. Contributions began to be processed on {{trigger.execution.created|date}}.</p>{% endif %}
			</small>
		</div>
	</div>
	</div>
</div>

<div id="my-actions" class="hidden">
	<div class="container">
		<div class="actions-container" style="padding: 2em 0">
			
		</div>
	</div>
</div>

{% if letters_campaign %}
<div id="write-a-letter">
	<div class="container">
		<h2>Write a letter</h2>

		<div class="row">
			<div class="col-sm-7 col-md-6">
		
				<p style="margin-bottom: 1em">Tell your representative and senators to take action.</p>

				<form id="write-letter-form" onsubmit="return write_letter_submit();">
				  <div class="form-group">
					<label for="email">Your Email Address</label>
					<input type="email" class="form-control" id="email" placeholder="email address">
				  </div>
				  <div class="row">
					<div class="col-md-3 col-lg-2">
					  <div class="form-group">
						<label for="namePrefix">Title</label>
						<select class="form-control" id="namePrefix" style="padding-left: 2px; padding-right: 0;">
							<option></option>
							{% for value in prefix_options %}<option>{{value}}</option>{% endfor %}
						</select>
					  </div>
					</div>
					<div class="col-md-4 col-lg-5">
					  <div class="form-group">
						<label for="nameFirst">First Name</label>
						<input type="text" class="form-control" id="nameFirst" placeholder="first name">
					  </div>
					</div>
					<div class="col-md-5">
					  <div class="form-group">
						<label for="nameLast">Last Name</label>
						<input type="text" class="form-control" id="nameLast" placeholder="last name">
					  </div>
					</div>
				  </div>
				  <div class="form-group">
					<label for="addrAddress">Home Address  <span class="tip">(where you vote)</span></label>
					<input type="text" class="form-control" id="addrAddress" placeholder="123 Your Location St.">
				  </div>
				  <div class="row">
					<div class="col-sm-5 col-md-6">
					  <div class="form-group">
						<label for="addrCity">City</label>
						<input type="text" class="form-control" id="addrCity" placeholder="Everytown">
					  </div>
					</div>
					<div class="col-sm-3 col-md-2">
					  <div class="form-group">
						<label for="addrState">State</label>
						<select class="form-control" id="addrState" size="1" style="padding-left: 2px; padding-right: 0;">
							<option></option>
							{% for state in state_abbrs %}<option>{{state}}</option>{% endfor %}
						</select>
					  </div>
					</div>
					<div class="col-sm-4">
					  <div class="form-group">
						<label for="addrZip">ZIP</label>
						<input type="text" class="form-control" id="addrZip" placeholder="12345" maxlength="10">
					  </div>
					</div>
				  </div>
				  <div class="row hidden">
					<div class="col-xs-12">
					  <div class="form-group">
						<label for="phone">Phone Number <span class="tip">(required by some congressional offices)</span></label>
						<input type="tel" class="form-control" id="phone" placeholder="555-555-1234">
					  </div>
					</div>
				  </div>
	
				  <button id="write-letter-next" type="submit" class="btn btn-primary">Next &raquo;</button>

				  <small>
					<p style="margin-top: 1.5em">All fields are required by the congressional office receiving your letter. You must have a mailing address within a United States congressional district to participate.</p>
				  </small>
				</form>

			</div>
			<div class="col-sm-5 col-md-6">
				<div id="letter-preview">
					<p>Dear representative,</p>
					<p>Reptiles are the best pets ever, and turtles are cute. Please take action on this very important issue.</p>
					<p>Sincerely,</p>
					<p>[your name]
				</div>
			</div>
		</div>			
		
	</div>
</div>
{% endif %}

<div id="make-a-contribution">
	<div class="container">
		{% include "contrib/pledge-form.html" %}
	</div>
</div>

<div id="footer-container">
<div class="container">

<small>
{% if not campaign.owner %} {# the 'we' doesn't make sense if the page wasn't created by if.then.fund #}
<p>We aim to shift the balance of power to shape Congress away from concentrated wealth and toward small-dollar donors like you.</p>
{% endif %}
<p>You will be making a campaign contribution to {{trigger.trigger_type.strings.actors}} or their next opponent. Until the 
{{trigger.trigger_type.strings.action_noun}} occurs, <span class="site-brand">if.then.fund</span> won't reveal to anyone what action you
took. After the {{trigger.trigger_type.strings.action_noun}}, we’ll charge your card and split your contribution based on your
instructions. More on <a href="/about/how-it-works">how it works</a>.</p>
</small>

<p id="show_utm_tool" style="display: none;"><a href="#" onclick="$('#utm_tool').slideToggle(); utm_tool(); return false;" style="border: none">Create a link...</a></p>
<div id="utm_tool" style="display: none; max-width: 320px; font-size: 90%;">
	<div class="row">
		<div class="col-xs-6">
			<div><label for="utm_tool_campaign">Campaign code:</label></div>
			<div><input id="utm_tool_campaign" type="text" onkeyup="utm_tool()" onchange="utm_tool()" style="width: 100%"></div>
		</div>
		<div class="col-xs-6">
			<div><label for="utm_tool_short"><input id="utm_tool_short" type="checkbox" checked onchange="utm_tool()"> Short URL</label></div>
		</div>
	</div>
	<div style="margin-top: .5em"><input id="utm_tool_link" type="text" value="" style="width: 100%" readonly></div>
</div>

{% with totals=campaign.get_contrib_totals %}
{% for trigger in totals.by_trigger %}
    <div id="modal_trigger_{{trigger.trigger.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_trigger_{{trigger.trigger.id}}_title" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal_trigger_{{trigger.trigger.id}}_title">{{trigger.trigger.title}}</h4>
          </div>
          <div class="modal-body">
          	{{trigger.trigger.execution.description|render_text:trigger.trigger.execution.description_format}}

            <h5 style="margin-top: 2em">Contributions By {{trigger.trigger.trigger_type.strings.action_noun.title}}</h5>
            <table class="table" style="width: auto">
            <tr><th>{{trigger.trigger.trigger_type.strings.action_noun.title}}</th> <th>Total Contributions</th></tr>
            {% for outcome in trigger.aggregates.outcomes %}
            	<tr><td>{{outcome.label}}</td> <td>{{outcome.total|currency}}</td></tr>
            {% endfor %}
            </table>

            <h5>Contributions By Party of Recipient Candidate</h5>
            <table class="table" style="width: auto">
            <tr><th>Party</th> <th>Total Contributions</th></tr>
            {% for party in trigger.aggregates.by_party %}
            	<tr><td>{{party.party.name}}</td> <td>{{party.total|currency}}</td></tr>
            {% endfor %}
            </table>

            <h5>Contributions By {{trigger.trigger.trigger_type.strings.actor.title}}</h5>
            <table class="table">
            <tr>
            	<th>{{trigger.trigger.trigger_type.strings.actor.title}}</th>
            	<th>{{trigger.trigger.trigger_type.strings.action_noun.title}}</th>
            	<th>Contributions to<br>{{trigger.trigger.trigger_type.strings.actor.title}}</th>
            	<th>Contributions to<br>Opponent</th>
            </tr>
            {% for actor in trigger.aggregates.actors %}
            	<tr>
            		<td>{{actor.actor}}</td>
            		<td>{{actor.action.outcome_label}}</td>
            		<td class="{% if actor.True > 0 %}text-success{% else %}text-muted{% endif %}">{{actor.True|currency}}</td>
            		<td class="{% if actor.False > 0 %}text-danger{% else %}text-muted{% endif %}">{{actor.False|currency}}</td>
            	</tr>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% endwith %}

{# with body-wide, we leave open two divs: an unstyled dive and a .container #}

{% endblock %}

{% block scripts %}
<script src="{% static "js/jquery.payment.js" %}"> </script>
<script src="{% static "js/mailcheck.min.js" %}"> </script>
<script>
	$(function() {
		if (the_page && the_page.show_utm_tool)
			$('#show_utm_tool').show();

		// Show any actions the user already performed.
		var can_make_pledge = true;
		for (var i = 0; i < (the_page ? the_page.pledges.length : 0); i++) {
			var p = the_page.pledges[i];
			$('#my-actions').removeClass('hidden');
			$('#my-actions div.actions-container').append($(p.rendered));

			{% if trigger %}
			// If the user has already made a pledge on this trigger,
			// show alternate content. Note that the user may not be
			// logged in because we may have placed the pledge id into
			// the user's session. Replace the form and return since
			// everything else is about form validation.
			if (p.trigger == {{trigger.id}}) {
				// The user already made a pledge on this. Totally destroy
				// the form elements for making another pledge.
				$('#make-a-contribution').remove();
				can_make_pledge = false;
			}
			{% endif %}
		}

		{% if trigger %}
		if (can_make_pledge)
			pledge_init();
		{% endif %}
	})

	function utm_tool() {
		var url = ($('#utm_tool_short').prop('checked') ? "{{campaign.get_short_url|escapejs}}" : "{{ROOT_URL}}{{campaign.get_absolute_url|escapejs}}")
		var campaign_code = $('#utm_tool_campaign').val();
		campaign_code = campaign_code.replace(/^\s+|\s+$/g, '');
		if (campaign_code)
			url += "?utm_campaign=" + encodeURIComponent(campaign_code);
		$('#utm_tool_link').val(url)
	}
    </script>
{% endblock %}