{% extends "master.html" %}
{% load static %}
{% load humanize %}
{% load itfsite_utils %}

{% block title %}{{campaign.title}}{% endblock %}

{% block head %}

<meta property="og:title" content="{{campaign.title}} ({% if campaign.owner.is_real %}{{campaign.owner.name}} on {% endif %}{{SITE_NAME}})" />
{% if trigger %}
<meta property="og:description" content="{% include2 "itfsite/campaign-meta-description.html" %}">
{% endif %}

{# 200x200 and less than 1MB (Facebook rq. 200x200; Twitter suggests 280x150px, rq lt 1MB #}
{% if campaign.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.og_image.url}}?size=tb" />
{% elif campaign.owner.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.owner.og_image.url}}?size=tb" />
{% elif campaign.splash_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.splash_image.url}}?size=tb" />
{% elif campaign.owner.banner_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{campaign.owner.banner_image.url}}?size=tb" />
{% else %}
{% include "og_image.html" %}
{% endif %}

{% if campaign.owner.twitter_handle %}
<meta name="twitter:creator" content="@{{campaign.owner.twitter_handle}}" />
<meta name="twitter:card" content="summary_large_image" />
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}

<style>
{% if campaign.splash_image.name %}
#splash {
	background-image: url('{{campaign.splash_image.url}}?size=lg{{splash_image_qs|safe}}');
	background-size: cover;
	background-position: 50% 50%;
}
	@media screen and (max-width: 1100px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=md{{splash_image_qs|safe}}'); }
	}
	@media screen and (max-width: 1024px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=sm&quality=low{{splash_image_qs|safe}}'); }
	}
	@media screen and (max-width: 768px) {
		#splash { background-image: url('{{campaign.splash_image.url}}?size=xs&quality=low{{splash_image_qs|safe}}'); }
	}

#nav-wrap {
	background-color: rgba(0,0,0,.5);
}
	@media screen and (min-width: 769px) {
		#nav-wrap a {
			color: rgba(255,255,255,.5);
		}
	}
{% else %}
	#splash {
		border-bottom: 1px solid #DDD;
	}
{% endif %}

#splash-text {
	max-width: 40em;
	padding-top: 1em;
	font-size: 20px;
	line-height: 145%;
	-webkit-font-smoothing: antialiased;
	text-shadow: 2px 4px 4px rgba(255, 255, 255, .8);
	font-family: "jaf-facitweb", sans-serif;
}
	@media screen and (min-width: 769px) {
		#splash-text { padding-top: 75px; }
	}
	#splash-text h1 {
		margin-top: 0;
		{% if not campaign.splash_image.name %}
		margin-bottom: .5em;
		{% endif %}
		font-family: Yanone Kaffeesatz;
		font-size: 56px;
	}
	#splash-text .subhead {
		padding-bottom: 1.5em;
	}
	.invert-text #splash-text {
		color: white;
		text-shadow: 2px 4px 4px rgba(0, 0, 0, .8);
	}
		.invert-text #splash-text a {
			color: #AAF;
			border-color: #AAF;
		}

	.invert-text #splash-text.subhead-darken-bg .subhead {
		background-color: rgba(20, 20, 20, .5);
		margin-left: -1em;
		padding: .75em 1em;
	}
		.invert-text #splash-text.subhead-darken-bg {
			text-shadow: 1px 2px 2px rgb(0, 0, 0);
		}
		#splash-text.subhead-darken-bg .subhead p:last-child {
			margin-bottom: 0;
		}

	#splash .image-credit {
		margin-top: -1em;
		margin-bottom: 1em;
		color: #555;
		text-shadow: none;
		text-align: right;
	}
		#splash.invert-text .image-credit {
			color: #EEE;
		}
		#splash .image-credit a {
			color: #336;
			border-color: #336;
		}	
			#splash.invert-text .image-credit a {
				color: #BBD;
				border-color: #BBD;
			}

	#activity-stats {
		padding: .5em 0 .5em 0;
		font-size: 90%;
		{% if campaign.splash_image.name %}
		background-color: rgba(255,255,255, .5);
		{% else %}
		margin-top: 1em;
		border-top: 1px solid #ddd;
		background-color: #f5f5f5;
		{% endif %}
	}
		.invert-text #activity-stats {
			background-color: rgba(0,0,0, .5);
			color: white;
		}
		#activity-stats dl {
			margin-bottom: 0;
		}
		#activity-stats dl dt {
			font-size: 110%;
		}

#draft-warning {
	background-color: rgb(130, 30, 40);
	padding: .5em 0;
	color: #FFA;
	text-align: center;
}

h2 {
  margin-top: 40px;
  font-weight: bold;
}

#story {
	margin-top: 3em;
	padding-bottom: 15px;
}

#footer-container {
	margin-top: 2em;
	background-color: #EEE;
	padding-top: 2em;
}

#action-buttons {
	margin-bottom: 1em;
}
  #action-buttons button {
    margin: 0 1em 1em 0;
    font-weight: bold;
  }
  #action-buttons button:first-child {
    margin-left: 0;
  }
  #action-buttons button small {
    display: block;
    margin-top: 5px;
    color: #555;
    font-family: sans-serif; /* because of button sizing in javascript, prefer a font that is available immediately */
    font-weight: normal;
    white-space: normal; /* .btn sets it to nowrap */
    max-width: 20vw;
  }
</style>
{% endblock %}

{% block body-wide %}
<div id="page-fixed-header">
	{{campaign.title}}
	{% if campaign.owner.is_real %} &mdash; {{campaign.owner.name}}{% endif %}
</div>

{% if not campaign.splash_image.name %}
<div id="nav-wrap" class="container-fluid">
	<div class="container">
	  <div class="row">
		  {% include "navbar.html" %}
	  </div>
	</div>
</div>
{% endif %}

<div id="splash" class="{% if campaign.extra.style.splash.invert_text %}invert-text{% endif %}">
  {% if campaign.splash_image.name %}
  <div id="nav-wrap">
	<div class="container">
	  <div class="row">
		  {% include "navbar.html" %}
	  </div>
	</div>
  </div>
  {% endif %}

  <div class="container" {% if campaign.splash_image.name %}style="min-height: 330px; min-height: 33vw;"{% endif %}>

	{% if campaign.owner.is_real %}
	<div id="campaign-owner" style="float: right">
		<a href="{{campaign.owner.get_absolute_url}}" title="{{campaign.owner.name}}">
			{% if campaign.owner.profile_image.name %}
			<div style="margin: 0 1em 0 0; border: 1px solid rgba(0,0,0,.5); background-image: url({{campaign.owner.profile_image.url}}?size=tb);" class="organization-profile-pic">
			</div>
			{% else %}
				{{campaign.owner.name}}
			{% endif %}
		</a>
	</div>
	<div class="clearfix visible-xs"> </div>
	{% endif %}

		{% if campaign.image_credit %}
			<div class="image-credit">
				{{campaign.image_credit|render_text:campaign.subhead_format}}
			</div>
		{% endif %}

  </div> <!-- /container -->

  <div id="activity-stats">
  	<div class="container">
			{% with totals=campaign.get_contrib_totals %}
				{% if letters_campaign %}
				<div class="row">
				<div class="col-md-4">
				<dl>
				<dt>{{letters_sent}}</dt>
				<dd>letter{{letters_sent|pluralize}} written</dd>
				</dl>
				</div>
				<div class="col-md-8">
				{% endif %}

				{% if totals.contrib_total > 0 %}
					{# has contributions #}
					{% if totals.contrib_fixed_outcome_total > 0 %}
						<dl>
						<dt>{{totals.contrib_fixed_outcome_total|currency}}</dt>
						<dd>
							contributed by {{totals.contrib_user_count|intcomma}} contributor{{totals.contrib_user_count|pluralize}}
							{% if totals.by_trigger|length == 1 %}
							<small>(<a href="#" onclick="$('#modal_trigger_{{totals.by_trigger.0.trigger.id}}').modal(); return false;">details</a>)</small>
							{% endif %}
						</dd>
						{% if totals.by_trigger|length > 1 %}
						{% for trigger in totals.by_trigger %}
							<p><small><a href="#" onclick="$('#modal_trigger_{{trigger.trigger.id}}').modal(); return false;">{{trigger.trigger.title}}</a></small></p>
						{% endfor %}
						{% endif %}
						</dl>
					
					{% else %}
						{% for trigger in totals.by_trigger %}
							{% if totals.by_trigger|length > 1 %}
								<p><b>{{trigger.trigger.title}}</b></p>
							{% endif %}
							<div class="row">
							{% for outcome in trigger.aggregates.outcomes %}
							<dl class="col-sm-3">
								<dt>{{outcome.total|currency}}</dt>
								<dd><em style="font-size: 90%">to</em> {{outcome.label}}</dd>
							</dl>
							{% endfor %}
							<div class="col-sm-3">
							<p style="float: right"><small><a href="#" onclick="$('#modal_trigger_{{trigger.trigger.id}}').modal(); return false;">Details</a></small></p>
							</div>
							</div> <!-- /row -->
						{% endfor %}
					{% endif %}

				{% elif trigger.execution and not tcust and totals.pledged_total == 0 %}
					{# show zeroes for the outcomes --- otherwise user is confused why we only show one total #}

					<div class="row">
					{% for outcome in trigger_outcome_strings %}
						<dl class="col-sm-4">
						<dt>{{0|currency}}</dt>
						<dd><em style="font-size: 90%">to</em> {{outcome.label}} &mdash; be the first!</dd>
						</dl>
                	{% endfor %}
					</div> <!-- /row -->

				{% elif totals.pledged_total != None %}
					{# just pledges, no contributions yet #}
					<dl>
					<dt>{{ totals.pledged_total|currency }}</dt>
					<dd>committed {% if trigger %}so far{% endif %} by {{totals.pledged_user_count|intcomma}} contributor{{totals.pledged_user_count|pluralize}}</dd>
					</dl>

				{% elif totals.pledged_site_wide > 0 %}
					<dl>
					<dt><span class="itfbutton"> </span>{{ totals.pledged_site_wide|currency }}</dt>
					<dd>committed on all sides of this issue*</dd>
					<p style="font-size: 90%; line-height: 125%; margin-top: .5em">*Because this campaign allows action on only one side of the issue, federal law prevents us from revealing the campaign’s total ahead of congressional action. Instead we show the total committed on both sides of this issue across all campaigns powered by <a href="https://if.then.fund" class="site-brand-ifthenfund">if.then.fund</a>.</p>
					</dl>

				{% else %}
					{# there are no executed pledges and no pledges made prior to trigger execution to show in the meanwhile, so this is probably a trigger created after a vote that has not yet had any activity, and has a fixed outcome #}

					<dl>
					<dt>{{0|currency}}</dt>
					<dd>
						contributed so far &mdash; be the first!
					</dd>
					</dl>

				{% endif %}

				{% if letters_campaign %}
				</div> <!-- /col -->
				</div> <!-- /row -->
				{% endif %}
			{% endwith %}
		</div> <!-- /container -->
	</div> <!-- /activity-stats -->
</div> <!-- /splash -->

{% if campaign.status|stringformat:'s' == "CampaignStatus.Draft" %}
<div id="draft-warning">
	This campaign is still a draft.
	{% if trigger.status|stringformat:'s' == "TriggerStatus.Draft" %}
		The action <em>{{trigger.title}}</em> is also a draft and will not appear if the campaign is made live.
	{% endif %}
</div>
{% endif %}

<div class="container">

	<div id="splash-text">
		<h1>{{campaign.headline}}</h1>

		<div class="subhead">
			{% if BRAND_ID == "279forchange.us" %}
				{% include2 "itfsite/campaign-subhead.html" %}
			{% else %}
				{{campaign.subhead|render_text:campaign.subhead_format}}
			{% endif %}
		</div>
	</div> <!-- /splash-text -->

	<div id="action-buttons">
	{% if trigger %}
		<div id="make-a-contribution" {% if letters_campaign %}class="hidden"{% endif %}>
            {% for outcome in trigger_outcome_strings %}
		    {% if not tcust.has_fixed_outcome or tcust.outcome = forloop.counter0 %}
                <button class="btn btn-lg {% if pref_outcome == -1 or pref_outcome == forloop.counter0 %}btn-success{% else %}btn-default{% endif %}" data-index="{{forloop.counter0}}" onclick="window.location = '{{campaign.get_absolute_url|escapejs}}/contribute?outcome={{forloop.counter0}}{% if request.GET.utm_campaign %}&utm_campaign={{request.GET.utm_campaign|urlencode|escapejs}}{% endif %}';">
	                <span>{{outcome.label}} &raquo;</span>
	                {% if outcome.tip %}<small>{{outcome.tip}}</small>{% endif %}
                </button>
            {% endif %}
            {% endfor %}
	        {% if letters_campaign %}
	        	<p id="write-a-letter-instead"><small><a href="#" onclick="return make_a_contribution_or_write_a_letter_instead(true);">Write a letter instead</a>.</small></p>
	        {% endif %}
	    </div>
    {% endif %}

	{% if letters_campaign %}
		<div id="write-a-letter">
			<button class="btn btn-lg btn-success" data-index="{{forloop.counter0}}" onclick="window.location = '{{campaign.get_absolute_url|escapejs}}/write-letter{% if request.GET.utm_campaign %}?utm_campaign={{request.GET.utm_campaign|urlencode|escapejs}}{% endif %}';">
				Write a Letter &raquo;
			</button>
			{% if trigger %}
				<p id="make-a-contribution-instead"><small>Skip this and <a href="#" onclick="return make_a_contribution_or_write_a_letter_instead(false);">make a contribution instead</a>.</small></p>
			{% endif %}
		</div>
	{% endif %}

	</div> <!-- /action-buttons -->

		<div id="my-actions" class="hidden">
			<div class="actions-container">
				
			</div>
		</div>

		<hr>

		<div id="story">
			<h2 style="margin: .5em 0">About the {{trigger.trigger_type.strings.action_noun}}</h2>

			{{campaign.body_text|render_text:campaign.body_format}}

			<hr>

			<small>
			<p>This page was added {% if campaign.owner.is_real %}by <a href="{{campaign.owner.get_absolute_url}}">{{campaign.owner.name}}</a>{% endif %} on {{campaign.created|date}}.</p>
			{% if trigger.execution %}
				<p>{{trigger.trigger_type.strings.retrospective_vp|capfirst}} on {{trigger.execution.action_time|date}}.
				{% if trigger.execution.pledge_count_with_contribs %}Contributions began to be processed on {{trigger.execution.created|date}}.{% endif %}
				</p>
			{% endif %}
			</small>
		</div> <!-- /story -->

</div> <!-- /container -->

<div id="footer-container">
<div class="container">

<small>
{% if not campaign.owner.is_real %} {# the 'we' doesn't make sense if the page wasn't created by {{SITE_NAME}} #}
<p>We aim to shift the balance of power in Congress away from concentrated wealth and toward small-dollar donors like you.</p>
{% endif %}
{% if trigger and trigger.status|stringformat:'s' != 'TriggerStatus.Executed' %}
<p>You will be making a campaign contribution to {{trigger.trigger_type.strings.actors}} or their next opponent. Until {{trigger.trigger_type.strings.prospective_vp}}, <span class="site-brand">{{SITE_NAME}}</span> won't reveal to anyone what action you
took. After {{trigger.trigger_type.strings.prospective_vp}}, we’ll charge your card and split your contribution based on your
instructions. More on <a href="/about/how-it-works">how it works</a>.</p>
{% endif %}
</small>

<p id="for_staff" style="display: none; font-size: 90%;">
	<a href="#" onclick="$('#utm_tool').slideToggle(); utm_tool(); return false;">Create Link</a>
	| <a href="/admin/itfsite/campaign/{{campaign.id}}">Edit Campaign</a>
	{% if trigger %}| <a href="/admin/contrib/trigger/{{trigger.id}}">Edit Trigger</a>{% endif %}
</p>
<div id="utm_tool" style="display: none; max-width: 320px; font-size: 90%;">
	<div class="row">
		<div class="col-xs-6">
			<div><label for="utm_tool_campaign">Campaign code:</label></div>
			<div><input id="utm_tool_campaign" type="text" onkeyup="utm_tool()" onchange="utm_tool()" style="width: 100%"></div>
		</div>
		<div class="col-xs-6">
			<div><label for="utm_tool_short"><input id="utm_tool_short" type="checkbox" checked onchange="utm_tool()"> Short URL</label></div>
		</div>
	</div>
	<div style="margin-top: .5em"><input id="utm_tool_link" type="text" value="" style="width: 100%" readonly></div>
</div>

{% with totals=campaign.get_contrib_totals %}
{% for trigger in totals.by_trigger %}
    <div id="modal_trigger_{{trigger.trigger.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal_trigger_{{trigger.trigger.id}}_title" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal_trigger_{{trigger.trigger.id}}_title">{{trigger.trigger.title}}</h4>
          </div>
          <div class="modal-body">
          	{{trigger.trigger.execution.description|render_text:trigger.trigger.execution.description_format}}

            <h5 style="margin-top: 2em">Contributions By Position of Donor</h5>
            <table class="table" style="width: auto">
            <tr><th>Position</th> <th>Total Contributions</th></tr>
            {% for outcome in trigger.aggregates.outcomes %}
            	<tr><td>{{outcome.label}}</td> <td>{{outcome.total|currency}}</td></tr>
            {% endfor %}
            </table>

            <h5>Contributions By Party of Recipient Candidate</h5>
            <table class="table" style="width: auto">
            <tr><th>Party</th> <th>Total Contributions</th></tr>
            {% for party in trigger.aggregates.by_party %}
            	<tr><td>{{party.party.name}}</td> <td>{{party.total|currency}}</td></tr>
            {% endfor %}
            </table>

            <h5>Contributions By {{trigger.trigger.trigger_type.strings.actor.title}}</h5>
            <table class="table">
            <tr>
            	<th>{{trigger.trigger.trigger_type.strings.actor.title}}</th>
            	<th>Position</th>
            	<th>Contributions to<br>{{trigger.trigger.trigger_type.strings.actor.title}}</th>
            	<th>Contributions to<br>Opponent</th>
            </tr>
            {% for actor in trigger.aggregates.actors %}
            	<tr>
            		<td>{{actor.actor}}</td>
            		<td>{{actor.action.outcome_label}}</td>
            		<td class="{% if actor.True > 0 %}text-success{% else %}text-muted{% endif %}">{{actor.True|currency}}</td>
            		<td class="{% if actor.False > 0 %}text-danger{% else %}text-muted{% endif %}">{{actor.False|currency}}</td>
            	</tr>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% endwith %}

{# with body-wide, we leave open two divs: an unstyled dive and a .container #}

{% endblock %}

{% block scripts %}
<script>
	$(function() {
		// Show administrative tools.
		if (the_page && the_page.show_utm_tool)
			$('#for_staff').show();

		// Show any actions the user already performed.
		var can_write_letter = {% if letters_campaign %}true{% else %}false {% endif %};
		var can_make_pledge = {% if trigger %}true{% else %}false{% endif %};
		for (var i = 0; i < (the_page ? the_page.actions.length : 0); i++) {
			var action = the_page.actions[i];
			$('#my-actions').removeClass('hidden');
			var n = $("<div/>").html(action.rendered)
			$('#my-actions div.actions-container').append(n);

			{% if trigger %}
			// If the user has already made a pledge on this trigger,
			// show alternate content. Note that the user may not be
			// logged in because we may have placed the pledge id into
			// the user's session.
			if (action.trigger == {{trigger.id}}) {
				// The user already made a pledge on this. Totally destroy
				// the form elements for making another pledge.
				$('#make-a-contribution, #make-a-contribution-instead').remove();
				can_make_pledge = false;
			}
			{% endif %}
			
			{% if letters_campaign %}
			if (action.letterscampaign == {{letters_campaign.id}}) {
				$('#write-a-letter, #write-a-letter-instead').remove();
				$('#make-a-contribution').removeClass('hidden');
				can_write_letter = false;
			}
			{% endif %}
		}

		// Outcome buttons should be the same size. Because the text font may not be
		// loaded yet, the size we set now may not be correct once the font is loaded.
		// Re-set the size again after a period of time when we think all of the fonts
		// should be loaded.
		fixup_pledge_outcome_button_sizes();
		setTimeout(fixup_pledge_outcome_button_sizes, 300);

		{% if trigger %}
		if (can_make_pledge)
		  mixpanel.track("Pledge Form Shown", {
		    'campaign': {{campaign.id}},
		    'trigger': {{trigger.id}},
		    {% if experiment %}'experiment': {{experiment}}{% endif %}
		  });
		{% endif %}
	})

	function fixup_pledge_outcome_button_sizes() {
		set_css_to_maximum($('#action-buttons button:visible'), 'width');
		set_css_to_maximum($('#action-buttons button:visible'), 'height');
	}

	function make_a_contribution_or_write_a_letter_instead(mode) {
		$('#write-a-letter').toggleClass('hidden', !mode);
		$('#make-a-contribution').toggleClass('hidden', mode);
		fixup_pledge_outcome_button_sizes(); // some of the buttons were originally hidden, so re-size now that they are visible
		return false; // cancel click
	}

	function utm_tool() {
		var url = ($('#utm_tool_short').prop('checked') ? "{{campaign.get_short_url|escapejs}}" : "{{ROOT_URL}}{{campaign.get_absolute_url|escapejs}}")
		var campaign_code = $('#utm_tool_campaign').val();
		campaign_code = campaign_code.replace(/^\s+|\s+$/g, '');
		if (campaign_code)
			url += "?utm_campaign=" + encodeURIComponent(campaign_code);
		$('#utm_tool_link').val(url)
	}

	function cancel_pledge(pledge_id) {
		show_modal_confirm(
			"Cancel contribution?",
			$("<p>Are you sure you want to cancel this contribution?</p>"),
			["Cancel Contribution", "Nevermind"],
			function() {
				ajax_with_indicator({
				    url: '/contrib/_cancel',
				    method: "POST",
				    data: { pledge: pledge_id },
				    success: function(res) {
				      setTimeout("$('#ajax_loading_indicator').fadeIn()", 100);
				      window.location.reload()
				    }
				})
			});
		return false;
	}
	</script>
{% endblock %}
