.campaign-bubble {
	border-radius: 10px;
	border: 2px solid rgba(30,30,30,.4);
	background: white;
	margin-bottom: 30px;
	overflow: hidden;
}
	.organization-banner {
		border: none;
		min-height: 120px;
	}
	.campaign-bubble .wrapper {
		padding: 10px;
	}
	.campaign-bubble .wrapper.campaign-body {
		min-height: 120px;
	}
	.campaign-splash div {
		padding-bottom: .5em;
	}
	.campaign-splash .campaign-owner {
		font-size: 16px;
	}
	.campaign-title {
		font-size: 22px;
		line-height: 125%;
	}
		.campaign-title a {
			border: none;
		}
		.campaign-splash .campaign-title span {
			background-color: rgba(0,0,0,.3);
			padding: 1px 2px;
		}
	.campaign-description {
		font-size: 90%;
		line-height: 130%;
		margin-bottom: .75em;
	}
	.campaign-take-action {
	}
		.campaign-take-action a {
			font-weight: bold;
			border: none;
		}
