<div class="campaign-bubble">
	{% if c.splash_image.name or c.owner.banner_image.name %}
		<a href="{{c.get_absolute_url}}">
			<div class="campaign-splash organization-banner" style="background-image: url('{% if c.splash_image.name %}{{c.splash_image.url}}{% else %}{{c.owner.banner_image.url}}{% endif %}?size=tb');">
				<div class="wrapper">
					<div class="campaign-title">{{c.title}}</div>
					{% if c.owner %}
						<div class="campaign-owner">{{c.owner.name}}</div>
					{% endif %}
				</div>
			</div>
		</a>
	{% else %}
		<div class="wrapper">
			<div class="campaign-title"><a href="{{c.get_absolute_url}}">{{c.title}}</a></div>
			{% if c.owner %}
				<div class="campaign-owner">{{c.owner.name}}</div>
			{% endif %}
		</div>
	{% endif %}

	<div class="wrapper campaign-body">
		{% if c.owner.profile_image.name %}
			<div style="float: left; margin-right: 10px; margin-bottom: 10px; border: 1px solid #555; background-image: url({{c.owner.profile_image.url}}?size=tb); width: 75px; height: 75px; background-size: cover; background-position: 50% 50%;"></div>
		{% endif %}

		{% include "itfsite/campaign-summary.html" with campaign=c %}

		<div class="campaign-take-action">
			<a href="{{c.get_absolute_url}}">Take Action &raquo;</a>
		</div>
	</div>

	{% if BRAND_ID == "279forchange.us" %}
		{% with counts=c.twoseventyninecounts %}
		{% if counts %}
			<div class="twoseventyninecounts">
			<p>{{counts.total_needed}} more needed to become law:</p>
			<div class="row">
				<div class="col-xs-4">
		                        <div class="num">{{counts.house_needed}}</div>
                		        <div class="descr">congresspersons</div>
				</div>
				<div class="col-xs-4">
		                        <div class="num">{{counts.senate_needed}}</div>
                		        <div class="descr">senators</div>
				</div>
				<div class="col-xs-4">
		                        <div class="num">{{counts.president_needed}}</div>
                		        <div class="descr">the President</div>
				</div>
			</div>
			</div>
		{% endif %}
		{% endwith %}
	{% endif %}
</div>
