{% extends "master.html" %}

{% block title %}Your Account{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1 style="margin-bottom: 10px">Your Account</h1>

<p id="account-actions">
	{{request.user.email}}
	|
	<a href="{% url 'password_change' %}">Change Password</a>
</p>

<h2>Your Contributions</h2>

<p>Scheduled Contributions: ${{total_pledged|floatformat:2}}</p>
<p>Past Contributions: ${{total_contribs|floatformat:2}}</p>

{% for pledge in pledges %}
	{% if forloop.first %}
		<table class="table">
		<thead>
			<tr>
				<td>Action</td>
				<td>Amount</td>
				<td>Status</td>
			</tr>
		</thead>
		<tbody>
	{% endif %}

	<tr>
		<td>
			<a href="{{pledge.trigger.get_absolute_url}}" style="border: none">{{pledge.trigger.title}}</a>
			<p class="text-muted" style="margin: .1em 0 0 0; font-size: 90%">
				Entered on {{pledge.created|date}}.
				{% if pledge.status|stringformat:'s' == 'PledgeStatus.Executed' %}
					Contributions {% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.NoProblem' %}made{% else %}attempted{% endif %} on {{ pledge.execution.created|date }}.
				{% endif %}
			</p>
			{% if pledge.execution.problem|stringformat:'s' != 'PledgeExecutionProblem.NoProblem' %}
				<p class="text-danger" style="margin: .25em 0 0 0; font-size: 90%">{{ pledge.execution.problem_text }}</p>
			{% endif %}
		</td>
		<td>
			${% firstof pledge.execution.charged|floatformat:2 pledge.amount|floatformat:2 %}
		</td>
		<td>
			{{pledge.get_nice_status}}
		</td>
	</tr>

	{% if forloop.last %}
		</tbody>
		</table>
	{% endif %}

{% empty %}
	<p>You have not yet made a campaign contribution.</p>
{% endfor %}

{% endblock %}
