{% extends "master.html" %}

{% block title %}Your Account{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block body %}
<h1 style="margin-bottom: 10px">Your Account</h1>

<p id="account-actions">
	{{request.user.email}}
	|
	<a href="{% url 'password_change' %}">Change Password</a>
</p>

<h2>Your Contributions</h2>

{% for pledge in pledges %}
	{% if forloop.first %}
		<table class="table">
		<thead>
			<tr>
				<td>Action</td>
				<td>Amount</td>
				<td>Status</td>
			</tr>
		</thead>
		<tbody>
	{% endif %}

	<tr>
		<td><a href="{{pledge.trigger.get_absolute_url}}">{{pledge.trigger.title}}</a></td>
		<td>${% firstof pledge.execution.charged|floatformat:2 pledge.amount|floatformat:2 %}</td>
		<td>{{pledge.get_status_display}}</td>
	</tr>

	{% if forloop.last %}
		</tbody>
		</table>
	{% endif %}

{% empty %}
	<p>You have not yet made a campaign contribution.</p>
{% endfor %}

{% endblock %}
