{% extends "master.html" %}

{% block title2 %}if.then.fund - {% include "tagline.txt" %}{% endblock %}

{% block head %}
<meta property="og:title" content="if.then.fund" />
<meta name="description" content="{% include "tagline.txt" %}">
<meta property="og:description" content="{% include "tagline.txt" %}">
<meta property="og:image" content="{{ROOT_URL}}/static/branding/icons/favicon-192x192.png" /> {# for Twitter summary card, min size 120x120 and < 1MB #}
<meta name="twitter:card" content="summary" />

<style>
.navbar {
	background: none;
	margin-bottom: 0;
}
	.navbar > .container {
		padding-right: 0;
		margin-right: 0;
	}
	.navbar-brand {
		display: none;
	}
	.navbar a {
		background: none;
		color: #777;
	}
		.navbar .nav a:hover {
			text-decoration: none;
			background: #333;
		}

#banner {
	background-color: black;
	margin-bottom: 50px;
	padding-bottom: 50px;
	cursor: default;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url('/static/img/capitol.jpg');
}
	#banner > h1, #banner > #deck {
		margin-left: 5vw;
		margin-right: 4vw;
	}

	h1 {
		margin-top: .5em;
		margin-bottom: 0;

		background: url(/static/branding/icons/favicon-192x192.png) 7px 50% no-repeat;
		background-size: auto 100%;
		padding-left: 55px;
		padding-left: 12vw;
		padding-top: 20px;
		padding-top: 2vw;
		height: 100px;
		height: 10vw;
	}
		h1 .p1, h1 .p2 {
			height: 25px;
			height: 3.75vw;
			background: url(/static/branding/homepage-title.png) no-repeat;
			background-size: auto 100%;
		}
		h1 .p1 {
			width: 17px;
			width: 2.6vw;
		}
		h1 .p2 {
			background-position: -17px 0;
			background-position: -2.6vw 0;
			width: 100px;
			width: 15.5vw;
		}

	#deck {
		margin-top: 80px;
		margin-bottom: 40px;
		background-color: rgba(130,130,130, .4);
		border-radius: 10px;
		padding: 10px 20px;
		font-size: 16px;
		line-height: 150%;
		font-family: 'Roboto Slab', serif;
		color: white;
	}

	@media screen and (max-width: 768px) {
		h1 {
			padding-top: 0;
			padding-left: 14vw;
		}
	}

#banner h2 {
	color: white;
	margin-bottom: 1em;
}

.campaign-bubble {
	border-radius: 10px;
	border: 2px solid rgba(30,30,30,.4);
	background: white;
	padding: 10px;
	margin-bottom: 1em;
}
	.campaign-bubble a {
		color: #126712; /* meets contrast requirement on white bg */
	}
	.campaign-title {
		padding-bottom: 6px;
		border-bottom: 1px solid #494;
		margin-bottom: 8px;
		line-height: 132%;
	}
		.campaign-title a {
			font-size: 120%;
			font-weight: bold;
			border: none;
		}
	.campaign-description {
		font-size: 90%;
	}
		.campaign-description p {
			line-height: 130%;
		}
	.campaign-take-action {
		margin-top: .75em;
		text-align: right;
	}
		.campaign-take-action a {
			font-weight: bold;
			border: none;
		}

</style>
{% endblock %}

{% block body-wide %}
<div id="homepage" class="container-fluid">
	<div id="banner" class="row">
		{% include "navbar.html" %}

		<h1>
			<span class="site-brand p1">if</span><span class="site-brand p2">then.fund</span>
		</h1>
		<div id="deck">
			Reshaping Congress by empowering <strong>small dollar donors</strong> to make contributions based on <strong>what politicians do</strong> — not what they promise.
		</div>

		<div id="homepage-body" class="container">
			<div class="col-xs-12">
				{% if open_campaigns|length > 0 %}
				<div class="row">
					{% for c in open_campaigns %}
						{% if forloop.counter0|divisibleby:2 %}<div class="clearfix visible-sm-block"></div>{% endif %}
						{% if forloop.counter0|divisibleby:3 %}<div class="clearfix visible-md-block"></div><div class="clearfix visible-lg-block"></div>{% endif %}
						<div class="col-sm-6 col-md-4">
							<div class="campaign-bubble">
								<div class="campaign-description">
									<strong>{% if c.owner %}{{c.owner.name}}{% endif %}</strong>
								</div>
								<div class="campaign-title"><a href="{{c.get_absolute_url}}">{{c.title}}</a></div>
								{% include "itfsite/canpaign-summary.html" with campaign=c %}
								<div class="campaign-take-action">
									<a href="{{c.get_absolute_url}}">Take Action &raquo;</a>
								</div>

								{% if c.owner.profile_image.name %}
								<div style="margin: 1em auto 0 auto; border: 1px solid #555; background-image: url({{c.owner.profile_image.url}}?size=tb);" class="organization-profile-pic"></div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				</div>
				{% endif %}

			</div>
		</div>
	</div>

	<div>
		<hr>

		<h2>Why we&rsquo;re doing this</h2>

		<p>By targeting real outcomes, shaping the next Congress, aggregating donations, and reaching all members of Congress, we hope to raise the tide of small-donor supporters and shift the balance of power away from concentrated wealth. Read <a href="/about">more about the site</a> for more details.</p>

	</div>

	{# we leave two div's open in body-wide templates #}
	<div>

{% endblock %}

{% block scripts %}
<style>
.splash-anim-bubble {
	color: #99dd33;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
	line-height: 110%;
	cursor: default;
}
.splash-anim-bubble span {
}
.splash-anim-line {
	border-bottom: 1px solid #99dd33;	
}
</style>

<script>
$(function() {
	if ($(window).width() > 640 && !$('body').hasClass('ie8'))
		setTimeout(start_splash_animation, 1000);
})

function start_splash_animation() {
	// Get dimensions.

	$('h1 .p1, h1 .p2').css({ position: 'relative' });
	$('h1 .p1').animate({ top: -$('h1').height()/8 });
	$('h1 .p2').animate({ top: $('h1').height()/2 }
		, start_anims);

	function start_anims() {
		// This has to delay until after the first set of p1/p2
		// animations are done above so that the horizontal location
		// for the second bubble is known.

		var line1 = make_line($('h1 .p1'))
		var line2 = make_line($('h1 .p2'))
		function make_line(pelem) {
			var b = $('<div class="splash-anim-line"></div>');
			$('body').append(b);
			b.css({
				position: "absolute",
				left: pelem.offset().left+pelem.outerWidth() + pelem.height()/2,
				top: pelem.offset().top+pelem.outerHeight() + 3,
				width: 100,
				opacity: 0
			});
			return b;
		}

		// Does a single iteration of a bubble.
		function make_bubble(pelem, pline, duration, text) {
			var b = $('<div class="splash-anim-bubble"></div>').clone();
			b.html(text);

			$('body').append(b);
			b.css({
				position: 'absolute',
				left: pelem.offset().left+pelem.outerWidth() + pelem.height()/2,
				top: pelem.offset().top+100,
				opacity: 0,
				fontSize: pelem.height()*1.25,
				lineHeight: '100%'
			})
			b
				.animate({
					top: pelem.offset().top+pelem.height()-b.height() + 3,
					opacity: 1
				}, duration/4)
				.delay(3*duration/4)
				.animate({
					top: pelem.offset().top-100,
					opacity: 0
				}, duration/4, function() {
					b.remove()
				})

			pline.animate({
				width: b.width(),
				opacity: 1
			})
		}

		// Create bubbles indefinitely.
		var anim_duration = 4500;
		var anim_counter = 0;
		var anim_text = [ ];
		for (var a2 in { 'support': null, 'oppose': null }) {
			anim_text.push(['they <span>' + a2 + '</span> your position',
					(a2 == 'support') ? "<span>their reelection</span>" : "their <span>opponent</span>"
					])
		}
		function do_anim() {
			make_bubble($('h1 .p1'), line1, anim_duration, anim_text[anim_counter][0]);
			make_bubble($('h1 .p2'), line2, anim_duration, anim_text[anim_counter][1]);
			anim_counter = (anim_counter + 1) % anim_text.length;
			setTimeout(do_anim, anim_duration);
		}
		do_anim(); // start
	}
}
</script>
{% endblock %}
