{% extends "master.html" %}
{% load itfsite_utils %}

{% block title %}{{org.name}}{% endblock %}

{% block head %}
{# 200x200 and less than 1MB (Facebook rq. 200x200; Twitter suggests 280x150px, rq lt 1MB #}
{% if org.og_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{org.og_image.url}}?size=tb" />
{% elif org.profile_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{org.profile_image.url}}?size=tb" />
{% elif org.banner_image.name %}
<meta property="og:image" content="{{ROOT_URL}}{{org.banner_image.url}}?size=tb" />
{% endif %}
{% if org.twitter_handle %}
<meta name="twitter:creator" content="@{{org.twitter_handle}}" />
{% endif %}

<style>
#nav-wrap {
	margin-bottom: 0;
}

#page-banner {
	position: relative; /* allow abs positioning of the h1 */
	height: 300px;
	margin-bottom: 25px;
}

h1 {
	margin: 0;
}


#main-part h2:first-child {
	margin-top: 0;
}

{% if org.banner_image.name %}
#page-banner {
	background-image: url({{org.banner_image.url}}?size=lg);
}
@media screen and (max-width: 768px) {
	#page-banner {
		background-image: url({{org.banner_image.url}}?size=xs);
	}
}
@media screen and (max-width: 640px) {
	#page-banner {
		background-image: url({{org.banner_image.url}}?size=xs);
	}
}
{% endif %}


@media screen and (min-width: 768px) {
	#page-banner > div {
		position: absolute;
		bottom: .5em;
	}
}

@media screen and (max-width: 640px) {
	#page-banner {
		min-height: 200px;
	}
	h1 {
		font-size: 24px;
	}
	#page-banner p {
		font-size: 18px;
	}
}


</style>
{% endblock %}

{% block body %}

<div class="row">
	<div id="page-banner" class="organization-banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
				{% if org.profile_image.name %}
					<div class="organization-profile-pic" style="background-image: url({{org.profile_image.url}}?size=tb);"> </div>
				{% endif %}
				</div>

				<div class="col-sm-9">
					<h1>{{org.name}}</h1>
					<p>{{org.orgtype.display}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 1em">
	<div class="col-sm-3" style="font-size: 90%">
		<div class="panel panel-default">
		  <div class="panel-heading hidden-xs">About {{org.name}}</div>
		  <div class="panel-body">
			{{org.description|render_text:org.description_format}}
		  </div>
		</div>
	</div>
	<div id="main-part" class="col-sm-9">
		{% for c in campaigns %}
			<h2><a href="{{c.get_absolute_url}}">{{c.title}}</a></h2>
			{% include "itfsite/campaign-summary.html" with campaign=c %}
		{% endfor %}
	</div>
</div>

{% endblock %}
