{% extends "master.html" %}
{% load humanize itfsite_utils %}

{% block title %}Your Account{% endblock %}

{% block head %}
<style>
.profile { margin: 0 0 1em 2em; }
.profile p { margin-bottom: .33em ;}
#action-summary { width: auto; }
#action-summary td { border: none; padding-bottom: 0; }
#action-summary td:first-child { padding-left: 0; }
#action-history td.icon { text-align: center; padding-left: 0; padding-right: 0; }
</style>
{% endblock %}

{% block body %}
<h1 style="margin-bottom: 10px">Your Account</h1>

<p id="account-actions">
	{{request.user.email}}
	|
	<a href="{% url 'password_change' %}">Change Password</a>
	|
	<a href="#" onclick="return show_change_email_settings();">Change Email Settings</a>
</p>

{# change email settings #}
<div id="change-email-settings" class="modal fade" role="dialog" aria-labelledby="change-email-settings-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="change-email-settings-title" class="modal-title">Email Settings</h4>
      </div>
      <div class="modal-body">
      	<p>We would like to send you notifications about new actions on <span class="site-brand">{{SITE_NAME}}</span> that we think you might be interested in. May we send you these notifications?</p>
        <p style="margin-bottom: 1.5em"><select class="form-control">
        	<option value="DailyNotifications">Yes, send me notifications.</option>
        	<option value="WeeklyNotifications">Yes, but at most once a week.</option>
        	<option value="NoNotifications">No, only send required/transactional notifications.</option>
        	</select></p>
        <p><span class="site-brand">{{SITE_NAME}}</span> will also send you important notifications about contributions you have scheduled. You cannot opt out of these emails.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="save_email_settings()" data-dismiss="modal">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
var notifs_freq = "{{notifs_freq|escapejs}}";
function show_change_email_settings() {
	$('#change-email-settings select').val(notifs_freq);
	$('#change-email-settings').modal();
	return false; // cancel link
}
function save_email_settings() {
	notifs_freq = $('#change-email-settings select').val();
	$.ajax({
		url: '/accounts/_email_settings',
		method: 'POST',
		data: {
			notifs_freq: notifs_freq
		}
	})
}
</script>

{% if profiles|length > 0 %}
<h2>Profile</h2>
{% for p in profiles %}
	<p>You provided the following information to use for {{p.open_pledge_count}} scheduled contribution{{p.open_pledge_count|pluralize}}:</p>
	<div class="profile">
        <p>
          {{p.extra.contributor.contribNameFirst}} {{p.extra.contributor.contribNameLast}}
          <br>{{p.extra.contributor.contribAddress}}
          <br>{{p.extra.contributor.contribCity}}, {{p.extra.contributor.contribState}} {{p.extra.contributor.contribZip}}
        </p>
        <p>
          {{p.extra.contributor.contribOccupation}} <span style="font-size: 95%; font-style: italic">(occupation)</span>
          <br>{{p.extra.contributor.contribEmployer}} <span style="font-size: 95%; font-style: italic">(employer)</span>
        </p>
        <p>
        	Credit card ending in {{p.cclastfour}} and expiring in {{p.extra.billing.cc_exp_month}}/{{p.extra.billing.cc_exp_year}}.</p>
        </p>
	</div>
{% endfor %}
{% endif %}

<h2>Your Actions</h2>

<table id="action-summary" class="table">
<tr><td>Scheduled Contributions:</td> <td>${{total_pledged|floatformat:2}}</td></tr>
<tr><td>Past Contributions:</td> <td>${{total_contribs|floatformat:2}} {% if total_contribs > 0 %}(<a href="{% url 'user_contrib_details' %}">view details</a>){% endif %}</td></tr>
</table>

<h3>History</h3>

{% for action in actions %}
	{% if forloop.first %}
		<table id="action-history" class="table">
		<thead>
			<tr>
				<td></td>
				<td>Action</td>
				<td>Amount</td>
				<td>Status</td>
			</tr>
		</thead>
		<tbody>
	{% endif %}

	{% if action|objtype == 'Pledge' %}
	{% with pledge=action %}
	<tr>
		<td class="icon"><i class="glyphicon glyphicon-usd" style="color: #688"></i></td>
		<td>
			<a href="{{pledge.get_absolute_url}}" style="border: none">{{ pledge.trigger.title }}</a>
			<p class="text-muted" style="margin: .1em 0 0 0; font-size: 90%">
				Entered on {{pledge.created|date}}.
				{% if pledge.status|stringformat:'s' == 'PledgeStatus.Executed' %}
					Contributions {% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.NoProblem' %}made{% else %}attempted{% endif %} on {{ pledge.execution.created|date }}.
				{% endif %}
			</p>
			{% if pledge.execution.problem|stringformat:'s' != 'PledgeExecutionProblem.NoProblem' %}
				<p class="text-danger" style="margin: .25em 0 0 0; font-size: 90%">{{ pledge.execution.problem_text }}</p>
			{% endif %}
		</td>
		<td>
			${% firstof pledge.execution.charged|floatformat:2 pledge.amount|floatformat:2 %}
		</td>
		<td>
			{{pledge.get_nice_status}}
		</td>
	</tr>
	{% endwith %}
	{% endif %}

	{% if forloop.last %}
		</tbody>
		</table>
	{% endif %}

{% empty %}
	<p>You have not yet taken any action.</p>
{% endfor %}

{% endblock %}
