{% extends "master.html" %}

{% block title %}Your Account{% endblock %}

{% block head %}
<style>
.profile { margin: 0 0 1em 2em; }
.profile p { margin-bottom: .33em ;}
#action-summary { width: auto; }
#action-summary td { border: none; padding-bottom: 0; }
</style>
{% endblock %}

{% block body %}
<h1 style="margin-bottom: 10px">Your Account</h1>

<p id="account-actions">
	{{request.user.email}}
	|
	<a href="{% url 'password_change' %}">Change Password</a>
</p>

{% if profiles|length > 0 %}
<h2>Profile</h2>
{% for p in profiles %}
	<p>You provided the following information to use for {{p.open_pledge_count}} scheduled contribution{{p.open_pledge_count|pluralize}}:</p>
	<div class="profile">
        <p>
          {{p.extra.contributor.contribNameFirst}} {{p.extra.contributor.contribNameLast}}
          <br>{{p.extra.contributor.contribAddress}}
          <br>{{p.extra.contributor.contribCity}}, {{p.extra.contributor.contribState}} {{p.extra.contributor.contribZip}}
        </p>
        <p>
          {{p.extra.contributor.contribOccupation}} <span style="font-size: 95%; font-style: italic">(occupation)</span>
          <br>{{p.extra.contributor.contribEmployer}} <span style="font-size: 95%; font-style: italic">(employer)</span>
        </p>
        <p>
        	Credit card ending in {{p.cclastfour}} and expiring in {{p.extra.billing.cc_exp_month}}/{{p.extra.billing.cc_exp_year}}.</p>
        </p>
	</div>
{% endfor %}
{% endif %}

<h2>Your Contributions</h2>

<h3>Summary</h3>

<table id="action-summary" class="table">
<tr><td>Scheduled Contributions:</td> <td>${{total_pledged|floatformat:2}}</td></tr>
<tr><td>Past Contributions:</td> <td>${{total_contribs|floatformat:2}} {% if total_contribs > 0 %}(<a href="{% url 'user_contrib_details' %}">view details</a>){% endif %}</td></tr>
</table>

<h3>History</h3>

{% for pledge in pledges %}
	{% if forloop.first %}
		<table class="table">
		<thead>
			<tr>
				<td>Action</td>
				<td>Amount</td>
				<td>Status</td>
			</tr>
		</thead>
		<tbody>
	{% endif %}

	<tr>
		<td>
			<a href="{{pledge.get_absolute_url}}" style="border: none">{{pledge.trigger.title}}</a>
			<p class="text-muted" style="margin: .1em 0 0 0; font-size: 90%">
				Entered on {{pledge.created|date}}.
				{% if pledge.status|stringformat:'s' == 'PledgeStatus.Executed' %}
					Contributions {% if pledge.execution.problem|stringformat:'s' == 'PledgeExecutionProblem.NoProblem' %}made{% else %}attempted{% endif %} on {{ pledge.execution.created|date }}.
				{% endif %}
			</p>
			{% if pledge.execution.problem|stringformat:'s' != 'PledgeExecutionProblem.NoProblem' %}
				<p class="text-danger" style="margin: .25em 0 0 0; font-size: 90%">{{ pledge.execution.problem_text }}</p>
			{% endif %}
		</td>
		<td>
			${% firstof pledge.execution.charged|floatformat:2 pledge.amount|floatformat:2 %}
		</td>
		<td>
			{{pledge.get_nice_status}}
		</td>
	</tr>

	{% if forloop.last %}
		</tbody>
		</table>
	{% endif %}

{% empty %}
	<p>You have not yet made a campaign contribution.</p>
{% endfor %}

{% endblock %}
